﻿<div class="row home-block" style="background-image:url(/images/footer.jpg); color:#ffffff; width:100%; background-size: cover; padding-top:50px; overflow:hidden;margin:0px; padding-bottom:50px; height:250px;">
    <div class="container">
        <div class="hidden-sm hidden-xs col-sm-4 text-center  bottomLink">
            <h3>WHERE</h3>
            <h3>WILL I</h3>
            <h3>MEET YOU?</h3>
            <hr class="hrFooter" />
            <p><a href="/store-locator/" class="btnBottom">STORE LOCATOR</a></p>

        </div>
        <div class="hidden-sm hidden-xs col-sm-4 text-center  bottomLink">
            <h3>WANT</h3>
            <h3>SOMETHING</h3>
            <h3>DELICIOUS?</h3>
            <hr class="hrFooter" />
            <p><a href="/our-menu/our-menu/all-day-breakfast/" class="btnBottom">OUR MENU</a></p>

        </div>
        <div class="hidden-sm hidden-xs col-sm-4 text-center  bottomLink">
            <h3>NZ'S</h3>
            <h3>BEST CAFE</h3>
            <h3>EXPERIENCE</h3>
            <hr class="hrFooter" />
            <p><a href="/vip-club/about-the-vip-club/" class="btnBottom">VIP CLUB</a></p>
        </div>

        <div class="visible-sm visible-xs" id="responsiveFooterBlock" style="margin-top: -25px;">
            <ul>          
                <li><a href="/store-locator/">STORE LOCATOR</a></li>      
                <li><a href="/our-menu/our-menu/all-day-breakfast/">OUR MENU</a></li>
                <li><a href="/vip-club/about-the-vip-club/">VIP CLUB</a></li>
				@*<li><a style="color:red" href="/christmas-hours/">CHRISTMAS HOURS</a></li>
				<li><a style="color:red" href="https://tccland.wixsite.com/tcclvl3">ORDER NOW</a></li>*@
            </ul>
        </div>

    </div>
</div>
