﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTop">
            <h1>@CurrentPage.Parent.name.ToUpper()</h1>
        </div>
    </div>
</div>

@*<div id="orangeTab" style="height:50px; padding-top:14px;">
    <div class="container">
        <h3>@CurrentPage.name.ToUpper()</h3>
    </div>
</div>*@

<div id="orangeTabMenu">
    <div class="container">
        <!-- Nav tabs -->
        <ul>
            @foreach (var item in CurrentPage.Parent.Children)
            {
                if (item.Url == CurrentPage.Url)
                {
                    <li><a class="activeMenu" href="@item.Url">@item.Name</a></li>

                }
                else
                {
                    <li>
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<div role="content">
    <div class="row" style="margin:0px;">
        <div class="container">
            <div class="col-sm-9">
                <section class="light blogarchive equalizer">
                   
                        @foreach (var post in CurrentPage.Children.OrderBy("newsCreatedDate desc"))
                        {
                            <div class="content equal" style="margin-bottom:20px;">
                                <a href="@post.Url">
                                    <div class="date">@post.newsCreatedDate.ToLongDateString()</div>
                                    <h2>@post.Name</h2>
                                   
                                    <p>@Umbraco.Truncate(post.Introduction, 200, true)</p>
                                    <button style="margin-top: 5px; color:#ffffff;" class="btn btn-xs btn-primary">View More</button>
                                </a>
                            </div>
                        }
                    
                </section>
            </div>
            <div style="  padding-top: 20px;" class="col-sm-3">
                <div style="width:100%; overflow:hidden">
                   <h3 style="border-bottom: 1px solid rgba(0,0,0,0.3); padding-bottom:5px;">ARCHIVE</h3>
                    <ul>
                        @foreach (var post in CurrentPage.Children.OrderBy("newsCreatedDate desc"))
                        {
                            <li><a style="" href="@post.Url"> @post.Name - @post.newsCreatedDate.ToLongDateString() </a></li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}