﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.Parent.topLevelImage);
}

@*@CurrentPage.GetGridHtml("content", "fanoe")*@

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
<div class="container">
    <div id="menuLogoTop">
          @*<h1>@CurrentPage.Parent.name.ToUpper()</h1>*@
        <h1>ABOUT US</h1>
    </div>
</div>
</div>

<div id="orangeTab" style="height:50px; padding-top:14px;">
    
        <h3>@CurrentPage.name.ToUpper()</h3>
   
</div>

<div class="container">
    <br />
   
    <div class="text-left" style="text-align:justify">
        @CurrentPage.descriptionParagraph
    </div>
    <br />
    @if (!string.IsNullOrEmpty(CurrentPage.youtubeUrl))
    {
        <div id="UVideo" class="text-left">
        </div>
    }
</div>
@{Html.RenderPartial("_FooterBlock");}

<script type="text/javascript">

    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = false;
    ga.src = 'http://www.youtube.com/player_api';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    var done = false;
    var player;

    function onYouTubePlayerAPIReady() {
        var url = '@CurrentPage.youtubeUrl';
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        var Id = '';
        var match = url.match(regExp);
        if (match && match[7].length == 11) {
            Id = match[7];
        } else {
            //alert("Could not extract video ID.");
        }

        player = new YT.Player('UVideo', {
           // height: '390',
            width: '100%',
            videoId: Id,
            playerVars: {
                controls: 0,
                disablekb: 1,
                showinfo:0
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(evt) {
        //console.log('onPlayerReady', evt);

    }
    function onPlayerStateChange(evt) {
        //console.log('onPlayerStateChange', evt);
        //if (evt.data == YT.PlayerState.PLAYING && !done) {
        //    setTimeout(stopVideo, 6000);
        //    done = true;
        //}
    }

    function stopVideo() {
        //console.log('stopVideo');
        //player.stopVideo();
    }



</script>