﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
    var home = @CurrentPage.Site();
}

@if (TempData["Captcha2"] != null)
{
    <script>
        alert("@TempData["Captcha2"]");
    </script>
}

@if (TempData["Captcha1"] != null)
{
    <script>
        alert("@TempData["Captcha1"]");
    </script>
}


<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTop">
            <h1>@CurrentPage.name.ToUpper()</h1>
        </div>
    </div>
</div>

<div style="background-color:#fefefe;">
    <div role="tabpanel">
        <div id="orangeTabStore">
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="tabHolder">
                    <li id="tabStore" class="active" style="width:50%"> <a href="#storeDiv" role="tab" data-toggle="tab">GENERAL ENQUIRY</a></li>
                    <li id="tabPhoto" style="width:50%"><a href="#photoDiv" role="tab" data-toggle="tab">YOUR FEEDBACK</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="storeDiv">
                <div class="container" id="storeDetailContainer" style="">
                    @{
                        if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-block fade in" id="successAlert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <p>@TempData["Success"]</p>
                            </div>
                        }
                    }

                    <div class="col-md-7">
                         @if (home.HasValue("contactInfoText"))
                         {
                             <p style="padding-left:10px;">@home.contactInfoText</p>
                         }

                        @{Html.RenderAction("ContactForm", "Contact");  }
                    </div>


                    <div class="col-md-5">
                        <div class="row" style="padding:20px;">
                            <div class="col-md-12">
                                @CurrentPage.franchisingContact
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="photoDiv">
                <div class="container" style="padding: 30px 0px;">
                    <div class="">
                        @if (home.HasValue("feedbackInfoText"))
                        {
                            <p style="padding-left:10px;">@home.feedbackInfoText</p>
                        }
                        @{Html.RenderAction("FeedbackForm", "Contact");  }
                    </div>
                  
                </div>
            </div>

        </div>@*This is End of tab content block*@
    </div>@*This is the end of tabpanel role*@
</div>

@{Html.RenderPartial("_FooterBlock");}

@section Javascript
{
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
@*<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/js/jquery-ui.min.js"></script>*@  


 <script type="text/javascript">
    $(document).ready(function () {
        //$("#date").datepicker({ dateFormat: 'dd-mm-yy' });

        $("#feedbackFormButton").click(function (e) {

            var name = $('#name2').val();
            var email = $('#email2').val();
            var phone = $('#phone2').val();
            var captchaFeedbackText = $('#tbCaptcha2').val();    

            if (name.length == 0 && email.length == 0 && phone.length == 0) {
                alert("Some of the required fields are empty");
                e.preventDefault();
                return false;
            }

            if (name.length == 0) {
                alert("Name is required.");
                e.preventDefault();
                return false;
            }

            if (phone.length == 0) {
                alert("Phone is required.");             
                e.preventDefault();
                return false;
            }
           
            if ($("#visitedTime").val() === "") {
                alert("Visited time is required.");
                e.preventDefault();
                return false;
            }


            if ($("#date").val() === "") {
                alert("Visited date is required.");
                e.preventDefault();
                return false;
            }
            
            if ($("#storeSelect").val() === "") {
                alert("Please select the visited store.");
                e.preventDefault();
                return false;
            }


            if (email != 0) {
                if (isValidEmailAddress(email)) {
                    $("#email2").css({
                        "background-color": "none"
                    });
                } else {
                    $("#email2").css({
                        "background-color": "#DCB286"
                    });
                    alert("Invalid Email");
                    return false;
                }
            } else {
                $("#email2").css({
                    "background-color": "none"
                });
            }


            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/umbraco/surface/Contact/CaptchaTextCompare',
                data: { isContact: false, captchaText: captchaFeedbackText },
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (!data.success) {
                        alert("Captch code did not match....");

                    } else {
                        $('#feedbackForm').off('submit')
                        $('#feedbackForm').submit();
                    }
                },
                error: function (data) {
                    alert("Something went wrong Please try again later");
                }
            });
        });


        $("#email2").keyup(function () {
            $("#email2").css({
                "background-color": "none"
            });
        });

     

        @*@if (Request.Url.ToString().IndexOf("feedback", StringComparison.OrdinalIgnoreCase) != -1)
        {
            <text>
                 $("#tabStore").removeClass("active");
                 $("#tabPhoto").addClass("active");
                 $("#storeDiv").removeClass("active");
                 $("#photoDiv").addClass("active");
                 $("#tabHolder").hide();
           </text>
        }*@



    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }


    </script>
}

