﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}

@if (TempData["Captcha2"] != null)
{
    <script>
        alert("@TempData["Captcha2"]");
    </script>
}


<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTop">
            <h1>@CurrentPage.name.ToUpper()</h1>
        </div>
    </div>
</div>

<div id="orangeTabMenu">
    <div class="container">
          @CurrentPage.name.ToUpper()
    </div>
</div>







@{Html.RenderPartial("_FooterBlock");}

@section Javascript
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    @*<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/js/jquery-ui.min.js"></script>*@


    <script type="text/javascript">
    $(document).ready(function () {
        //$("#date").datepicker({ dateFormat: 'dd-mm-yy' });

        $("#feedbackFormButton").click(function (e) {

            var name = $('#name2').val();
            var email = $('#email2').val();
            var phone = $('#phone2').val();

            if (name.length == 0 && email.length == 0) {
                alert("Some of the required fields are empty");
                e.preventDefault();
                return false;
            }

            if (name.length == 0) {
                alert("Name is required.");
                e.preventDefault();
                return false;
            }

            if (phone.length == 0) {
                alert("Phone is required.");
                e.preventDefault();
                return false;
            }

            if ($("#visitedTime").val() === "") {
                alert("Visited time is required.");
                e.preventDefault();
                return false;
            }


            if ($("#date").val() === "") {
                alert("Visited date is required.");
                e.preventDefault();
                return false;
            }

            if ($("#storeSelect").val() === "") {
                alert("Please select the visited store.");
                e.preventDefault();
                return false;
            }

            if (email != 0) {
                if (isValidEmailAddress(email)) {
                    $("#email2").css({
                        "background-color": "none"
                    });
                } else {
                    $("#email2").css({
                        "background-color": "#DCB286"
                    });
                    alert("Invalid Email");
                    return false;
                }
            } else {
                $("#email2").css({
                    "background-color": "none"
                });
            }
        });


        $("#email2").keyup(function () {
            $("#email2").css({
                "background-color": "none"
            });
        });



        @if (Request.Url.ToString().IndexOf("feedback", StringComparison.OrdinalIgnoreCase) != -1)
        {
            <text>
                 $("#tabStore").removeClass("active");
                 $("#tabPhoto").addClass("active");
                 $("#storeDiv").removeClass("active");
                 $("#photoDiv").addClass("active");
                 $("#tabHolder").hide();
           </text>
        }



    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }


    </script>
}

