﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var srcCentralLogo = Umbraco.Media(CurrentPage.centrallogohomepage);
    var currentTime = DateTime.Now.TimeOfDay;
    var BreakfastTime = new TimeSpan(11, 59, 59);
    var LaunchTime = new TimeSpan(16, 59, 59);
    var DinnerTime = new TimeSpan(23, 59, 59);
    var MidNight = new TimeSpan(00, 00, 00);   
      
}

@*@CurrentPage.GetGridHtml("content", "fanoe")*@	

<div style="text-align: center; color: white; height: 100%;">
    <div class=" hidden-sm hidden-xs" style="width:100%; position:absolute; top: 30%;left: 50%;z-index:90;   margin: 0px 0 0 -50%">
       
        <div class="row" style="margin-bottom:20px;">
            <h1 style="">WELCOME TO</h1>
            <img src="@srcCentralLogo.Url" alt="TheCoffeeClub" style="width:25%;" />
        </div>


        @{Html.RenderPartial("_CenterBlockForHomePage");}
    </div>


    @{
        if (currentTime < BreakfastTime && currentTime > MidNight)
        {
            if (Model.Content.HasValue("largehomeimage"))
            {
                var imageIdList = Model.Content.GetPropertyValue<string>("largehomeimage").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                var imageCollection = Umbraco.TypedMedia(imageIdList).Where(x => x != null);
                <div class="fadein">
                    @foreach (var image in imageCollection)
                    {
                        <img src=@image.Url alt="@image.Name" />
                    }
                </div>
            }
        }
        if (currentTime < LaunchTime && currentTime > BreakfastTime) 
        {
            if (Model.Content.HasValue("launchTimePhotos"))
            {
                var imageIdList = Model.Content.GetPropertyValue<string>("launchTimePhotos").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                var imageCollection = Umbraco.TypedMedia(imageIdList).Where(x => x != null);
                <div class="fadein">
                    @foreach (var image in imageCollection)
                    {
                        <img src=@image.Url alt="@image.Name" style="" />
                    }
                </div>
            }
        }
        if (currentTime < DinnerTime && currentTime > LaunchTime)
        {
            if (Model.Content.HasValue("dinnerTimePhotos"))
            {
                var imageIdList = Model.Content.GetPropertyValue<string>("dinnerTimePhotos").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                var imageCollection = Umbraco.TypedMedia(imageIdList).Where(x => x != null);
                <div class="fadein">
                    @foreach (var image in imageCollection)
                    {
                        <img src=@image.Url alt="@image.Name" />
                    }
                </div>
            }
        }        
    }
 
</div>
<div class="visible-xs visible-sm" style="position:relative; top:0px;" >
    @{Html.RenderPartial("_FooterBlock");}
    <div class="container">
        <img src="@srcCentralLogo.Url" alt="TheCoffeeClub" style="width:100%" />
    </div>
    
</div>


<style>
     /*.fadein { width:100%; height:100% }*/
    /*.fadein img { width:100%;}*/
    .fadein{
        height: 100%;
    }
    
    .fadein img {
        width: 100%
    }

</style>

<script>
    $("document").ready(function () {
        $('.fadein img:gt(0)').hide();
        setInterval(function () {
            $('.fadein :first-child').fadeOut(1000)
               .next('img').fadeIn(1000)
               .end().appendTo('.fadein');
        }, 50000);
    });
</script>