﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
    var currentPage = @CurrentPage.name;
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <title>@(CurrentPage.pageTitle != "" ? CurrentPage.pageTitle : CurrentPage.Name +" | TheCoffeeClub")</title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
	<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' /> 
	
	<!-- Google Tag Mana-ger -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WGPW6VG');</script>
	<!-- End Google Tag Manager -->

	​<!-- The new broke Global site tag (gtag.js) - Google Analytics -->
	<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80644319-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-80644319-1');
	</script>-->
	
	
			
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80644319-1', 'auto');
      ga('send', 'pageview');

  </script>
  
	<meta property="og:image" content="//www.thecoffeeclub.co.nz/images/TheCoffeeClub.jpg" />
	<meta property="og:title" content="@(CurrentPage.pageTitle != "" ? CurrentPage.pageTitle : CurrentPage.Name +" | TheCoffeeClub")" />
    <meta property="og:description" content="@(CurrentPage.metaDescription != null ? CurrentPage.metaDescription : CurrentPage.siteDescription)" />
    
    
    <meta name="keywords" content="@(CurrentPage.metaKeywords != null ? CurrentPage.metaKeywords : "") " />
    <meta name="description" content="@(CurrentPage.metaDescription != null ? CurrentPage.metaDescription : CurrentPage.siteDescription)  ">	

    
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,400,400italic,600,900,700,700italic,600italic' rel='stylesheet' type='text/css'>
    <!-- CSS -->

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/fanoe.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="~/css/flexslider.css" type="text/css" rel="stylesheet" />
    <link href="/css/Live.css" type="text/css" rel="stylesheet" />
	
    <script src="/js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/third_party/jquery/jquery.js" /></script>
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/quickform.js" /></script>
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/third_party/jquery/plugins/uploadify/swfobject.js" /></script>
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/third_party/jquery/plugins/uploadify/jquery.uploadify.v2.1.4.min.js" /></script>
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/webform_validation.js" /></script>
	<script src="//e.gji.com.au/download/scripts/5.8.84a/js/jquery_noconflict.js" /></script>
	<script>
	$(document).ready(function() {
		$('li a.subscribepopup').click(function() {
			$('#em_subscribe_form').fadeIn();
		});
		$('.closeform').click(function() {
			$('#em_subscribe_form').fadeOut();
		});
	});
	</script>
	
</head>

<body style="@(currentPage == "Home" ? "overflow: hidden;height:100%; background-color:black;" : "width:100%")">
	
	<!-- Google Tag Manager (noscript) -->
	
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGPW6VG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

    <div class="navigationBar" style="z-index:100; position:absolute;top:0;width:100%">
        <div class="">
            <div class="col-sm-12 ">
                <nav style="text-align:center">
                    @{ Html.RenderPartial("MainNavigation"); }
                </nav>
            </div>
            <div id="toggle" class="toggle">
                <a href="#" class="cross"><span></span></a>
            </div>
        </div>
    </div>
    <div style="margin:0px; width:100%;margin-top:-20px;">
        @RenderBody()
    </div>

    @if (currentPage != "Home")
    {
        <footer style="padding: 0px; margin-top:0px; height: 60px;" class="row field dark">
            <div class="">
                <div id="footerNav" class="row">
                    @{ Html.RenderPartial("BottomNavigation"); }

                </div>
            </div>
        </footer>
    }
    else
    {
        <footer style="padding: 0px; margin-top:0px; height: 60px; @(currentPage == "Home" ? "position:absolute;bottom:0;width:100%" : "")" class="row field dark hidden-xs hidden-sm">
            <div class="">
                <div id="footerNav" class="row">
                    @{ Html.RenderPartial("BottomNavigation"); }

                </div>
            </div>
        </footer>
			
    }

    @{ Html.RenderPartial("subscribepopup"); }
    @*<footer style="padding: 0px; margin-top:0px; height: 60px; @(currentPage == "Home" ? "position:absolute;bottom:0;width:100%" : "")" class="row field dark">
        <div class="">
            <div id="footerNav" class="row">
                @{ Html.RenderPartial("BottomNavigation"); }

            </div>
        </div>
    </footer>*@


    <!-- Javascripts -->

    <script src="/js/bootstrap.min.js"></script>
	@RenderSection("Javascript", false)
	
    <script src="/scripts/fanoe.js"></script>
    <script src="/scripts/scriptForSidebar.js"></script> 
    
	
	

	<!--
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67854777-1', 'auto');
      ga('send', 'pageview');

  </script> -->

</body>
</html>