﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SubMenu.cshtml";
    var home = @CurrentPage.Site();
}

<link href="~/css/flexslider.css" rel="stylesheet" />


<div style="background-color:#fefefe;">
  
    <div id="orangeTabMenu">
        <div class="container">
            <!-- Nav tabs -->
            <ul>
                @foreach (var item in CurrentPage.Parent.Children)
                {
                    if (item.Url == CurrentPage.Url)
                    {
                        			
						@*NEW SCRIPT - ADDED BY JAN SOBIDA 07-24-2019*@
						@*BEGIN*@
						if (@item.Name != "VEGAN MENU")
						{
							<li><a class="activeMenu" href="@item.Url">@item.Name</a></li>
						}
						@*END*@
									
									
						@*OLD SCRIPT - REMOVED BY JAN SOBIDA 07-24-2019*@
						@*BEGIN*@
						@*<li><a class="activeMenu" href="@item.Url">@item.Name</a></li>*@
						@*END*@

                    }
                    else
                    {
                       	@*NEW SCRIPT - ADDED BY JAN SOBIDA 07-24-2019*@
						@*BEGIN*@
						if (@item.Name != "VEGAN MENU")
						{
							<li> 
								<a href="@item.Url">@item.Name</a>
							</li>
						}
						@*END*@
									
									
						@*OLD SCRIPT - REMOVED BY JAN SOBIDA 07-24-2019*@
						@*BEGIN*@
						@*<li> 
                            <a href="@item.Url">@item.Name</a>
                        </li>*@
						@*END*@
                    }
                }
            </ul>
        </div>
    </div>

  
  
</div>

<div class="container text-center" style="margin-top:50px;">    
    
    @CurrentPage.menudescription
  
    @{
        if (home.HasValue("restaurantMenuUpload") && ((CurrentPage.Name.Contains("MAINS")) ? true : false))
        {

            <div class="downloadMenu">
                <a class="downloadButton" target="_blank" href="@home.restaurantMenuUpload" > DOWNLOAD OUR RESTAURANT MENU </a>
            </div>
        }
        else
        {
            if (home.HasValue("menuUpload"))
            {
                <div class="downloadMenu">
                    <a class="downloadButton" target="_blank" href="@home.menuUpload"> DOWNLOAD OUR CAFE MENU </a>
                </div>

            }
        }
}
    <br />
  
</div>


<div class="container">
    <hr />
    @*<div class="flexslider">
        <ul class="slides">
            @foreach (var item in CurrentPage.Children)
            {
                var photo = Umbraco.Media(item.photo);
                <li data-thumb="@photo.Url" style="padding:10px;">
                    <img  style="" src="@photo.Url" /><div class='flex-caption text-center'> <br /><h3>@item.Name</h3> <br /> @item.description</div>
                </li>
            }     
        </ul>
    </div>*@



    <div id="slider" class="flexslider" style="margin-bottom:5px;" >
        <ul class=" slides">
        @foreach (var item in CurrentPage.Children)
        {
            var photo = Umbraco.Media(item.photo);
            <li>
                <img style="width:80%; margin:auto;" src="@photo.Url" /><div class='flex-caption text-center' style="line-height:18px;"> <br /><h3 style="margin-bottom: 3px; text-align:center; ">@item.Name</h3> @item.description</div>
            </li>
        }

        </ul>
    </div>

    <div id="carousel" class="flexslider hidden-xs">
        <ul class="slides">
            @foreach (var item in CurrentPage.Children)
            {
                var photo = Umbraco.Media(item.photo);
                <li style="height: 143px; overflow:hidden">
                    <img  style="padding-right:5px; " src="@photo.Url" />
                </li>
            }     
        </ul>
    </div>


</div>

@*This is footer block.Copy this content for each template*@

 <div style="">
    @{Html.RenderPartial("_FooterBlock");}
</div>

@section Javascript
{
<script src="~/js/jquery.flexslider-min.js"></script>
<script>
        
    $(document).ready(function () {  
       
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider',
            smoothHeight: true

           
        });

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: true,
            slideshowSpeed: 5000,
            slideshow: true,
            sync: "#carousel",
            smoothHeight: true,
            touch: true,
        });


       

    });

    var value1 = $(".checkMenu").attr("href");
    if(value1 == "@CurrentPage.Url" )
    {
       highLight(menuid)
    }
    function highLight(menuid) {
        $('.checkMenu').addClass("current-menu");
    }
</script>

}

<style>


</style>

@*<div style="background-color:#fefefe;height:75px;">
    <div role="tabpanel">
        <div id="orangeTab">
            <div class="container">
                
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var item in CurrentPage.Parent.Children)
                    {
                        <li role="presentation" class="@(item.Name == CurrentPage.Name ? "active" : "")">
                            <a href="@item.Url" aria-controls="@item.Name" role="tab">@item.Name</a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</div>*@