﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    
    var src = Umbraco.Media(CurrentPage.topLevelImage);    
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTop">
            @if(CurrentPage.Name == "GIFT CARDS" || CurrentPage.Name == "EASTER HOURS")
            {
                <h1>@CurrentPage.Name.ToUpper()</h1>
            }
            else
            {
                <h1>@CurrentPage.Parent.name.ToUpper()</h1>
            }   
        </div>
    </div>
</div>


<div id="orangeTabMenu">
    <div class="container">
        <!-- Nav tabs -->
        @if (CurrentPage.Name == "GIFT CARDS")
        {
            <p style="color: #ffffff; font-size: 16px;" >ABOUT TCC GIFT CARDS</p>       
		
        }
        else
        {
            <ul>
                @foreach (var item in CurrentPage.Parent.Children)
                {
                    if (item.Url == CurrentPage.Url)
                    {
                        <li><a class="activeMenu" href="@item.Url">@item.Name</a></li>

                    }
					@*else if (item.name == "CHRISTMAS HOURS")
                    {
                        <li><a style="display:none" class="activeMenu" href="@item.Url">@item.Name</a></li>
                    }*@
                    else
                    {
                        <li>
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        }
    </div>
</div>







@*<div id="orangeTab" class="normalPageYellow" style="height:50px; padding-top:14px;">
    <div class="container">
        <h3>@CurrentPage.yellowHeaderText</h3>
    </div>
</div>*@

<div id="normalPageMobile" style="background-color:#fefefe;">
    <div id="orangeTab">
        <div class="container">
            <!-- Nav tabs -->
            <ul>
                @foreach (var item in CurrentPage.Children)
                {
                    if (item.Url == CurrentPage.Url)
                    {
                        <li><a class="activeMenu" href="@item.Url">@item.Name</a></li>

                    }
                    else
                    {
                        <li>
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>







<div class="row" style="margin-right:0px; margin-left:0px;">

    <div class="container" style="padding-top:10px;">

        <div class="text-center" style="text-align:justify">
            @CurrentPage.headingParagraph
        </div>
        <br />
        <div class="text-left" style="text-align:justify">
            @CurrentPage.descriptionParagraph
        </div>
        <br />
        @if (!string.IsNullOrEmpty(CurrentPage.youtubeUrl))
        {
            <div id="UVideo" class="text-left">
            </div>
        }
    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}

<script type="text/javascript">
      
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = false;
    ga.src = 'http://www.youtube.com/player_api';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    var done = false;
    var player;

    function onYouTubePlayerAPIReady() {
        var url = '@CurrentPage.youtubeUrl';
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        var Id = '';
        var match = url.match(regExp);
        if (match && match[7].length == 11) {
            Id = match[7];
        } else {
            //alert("Could not extract video ID.");
        }

        player = new YT.Player('UVideo', {
           // height: '390',
            width: '100%',
            videoId: Id,
            playerVars: {
                controls: 0,
                disablekb: 1,
                showinfo:0
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(evt) {
        //console.log('onPlayerReady', evt);
       
    }
    function onPlayerStateChange(evt) {
        //console.log('onPlayerStateChange', evt);
        //if (evt.data == YT.PlayerState.PLAYING && !done) {
        //    setTimeout(stopVideo, 6000);
        //    done = true;
        //}
    }

    function stopVideo() {
        //console.log('stopVideo');
        //player.stopVideo();
    }
</script>