﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.Parent.topLevelImage);
    var home = @CurrentPage.Site();

}


<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTopForStore">
            <h2 style="padding-top:8px" >THE COFFEE CLUB</h2>
            <h1>@CurrentPage.suburb</h1><hr />
            <h3>@umbraco.library.GetPreValueAsString(CurrentPage.storeType) </h3>
        </div>
    </div>
</div>

<div style="background-color:#fefefe;">
    <div role="tabpanel">
        <div id="orangeTabStore">
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li id="tabStore" onclick="changeClassFromStore()" class="active" style="width:50%"> <a href="#storeDiv" role="tab" data-toggle="tab">OUR STORE</a></li>
                    <li id="tabPhoto" onclick="changeClassFromPhoto()" style="width:50%"><a href="#photoDiv" role="tab" data-toggle="tab">OUR PHOTOS</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="storeDiv">
                <div class="container" id="storeDetailContainer" style="">
                    <div class="col-sm-6">


                        <p style="text-align:justify">@CurrentPage.description</p>
                        <br />                       
                        @CurrentPage.addressLine1<br />
                        @CurrentPage.addressLine2<br />
                        @CurrentPage.addressLine3<br />
                        <br />
                        <b>TRADING HOURS:</b><br />
                        <table>
                            <tr>
                                <td style="width: 120px;">Monday</td>
                                <td>@CurrentPage.monday</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>@CurrentPage.tuesday</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>@CurrentPage.wednesday</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>@CurrentPage.thursday</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>@CurrentPage.friday</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>@CurrentPage.saturday</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>@CurrentPage.sunday</td>
                            </tr>
                        </table><br />


                        PHONE: @CurrentPage.phone<br />
                        EMAIL: @CurrentPage.email <br />

                        @if (CurrentPage.facebookUrl != "")
                        {
                           @:Facebook: <a href="@CurrentPage.facebookUrl"> @CurrentPage.Name </a>
                        }


                        <br />
                         <a style="width:auto; margin-top:20px;margin-bottom:10px;" class="btn btn-custom" href="/store-locator?sid=@CurrentPage.region">Try another @CurrentPage.region store</a>

                        @if (home.promoBoxImage != 0)
                        {
                            <img style="margin-top:20px;" src="@Umbraco.Media(home.promoBoxImage).Url" alt="The Coffee Club Promo Box">
                        }                     

                        @if (CurrentPage.liquorLicenseImage != 0)
                        {
                            <div>
                             <img style="margin-top:20px; max-width:100px; height:auto" src="@Umbraco.Media(CurrentPage.liquorLicenseImage).Url" />
                            </div>                           
                        }
                      
                    </div>
                    <div class="col-sm-6">
                        <img src="@Umbraco.Media(CurrentPage.imageAboveMap).Url" alt="">

                        <br /><br />
                        <div id="map-canvas" style="height: 388px">
                        </div> <br />
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="photoDiv">
                <div class="container" style="padding: 30px 40px;">
                    <div id="slider" class="flexslider">
                        <ul class="slides">

                            @if (Model.Content.HasValue("storePhotoGallery"))
                            {
                                var ImagesList = Model.Content.GetPropertyValue<string>("storePhotoGallery").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                                var ImagesCollection = Umbraco.TypedMedia(ImagesList).Where(x => x != null);
                                foreach (var Image in ImagesCollection)
                                {
                                    <li>
                                        <img style="width: 80%;margin:auto;" src="@Image.Url" />
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            @if (Model.Content.HasValue("storePhotoGallery"))
                            {
                                var ImagesList = Model.Content.GetPropertyValue<string>("storePhotoGallery").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                                var ImagesCollection = Umbraco.TypedMedia(ImagesList).Where(x => x != null);
                                foreach (var Image in ImagesCollection)
                                {
                                    <li>
                                        <img style="padding:5px;" src="@Image.Url" />
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>



            </div>

        </div>@*This is End of tab content block*@
    </div>@*This is the end of tabpanel role*@
</div>










@*This is footer block.Copy this content for each template*@
@{Html.RenderPartial("_FooterBlock");}


<style>
    /* bootstrap hack: fix content width inside hidden tabs */
    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block; /* undo display:none          */
        height: 0; /* height:0 is also invisible */
        overflow-y: hidden; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto; /* let the content decide it  */
    }
    /* bootstrap hack end */
</style>


@section Javascript
{
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script>

        $(document).ready(function () {
            //$('.flexslider').flexslider({
            //    animation: "slide",
            //    controlNav: "thumbnails"
            //});
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 10,
                asNavFor: '#slider'
            });

            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel"
            });

        });
    </script>

}


<script>

    function changeClassFromPhoto() {
        $("#tabStore").removeClass("active");
        $("#storeDiv").removeClass("active");
        $("#tabPhoto").addClass("active");
        $("#photoDiv").addClass("active");
    }
    function changeClassFromStore() {
        $("#tabPhoto").removeClass("active");
        $("#photoDiv").removeClass("active");
        $("#tabStore").addClass("active");
        $("#storeDiv").addClass("active");
    }

</script>


@*<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>*@
@* 09 Oct 2018 : Kevin fixed API key *@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABG1Dr54I63kK7UnYE2M-PKcVBcwQDVBs&libraries=geometry&callback=InitializeMap"
        async defer></script>
<script language="javascript" type="text/javascript">

    @*var map;
    var geocoder;
    var currentPos;

    $(document).ready(function () {
       
        var address = "@CurrentPage.addressLine2, @CurrentPage.addressLine3";
        gotoAddress(address, function (pos) {
                InitializeMap()
                currentPos = pos;
                showDefaultPosition();              
            });
    

    });

    function gotoAddress(address, onFound) {
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': address + ', NZ' }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (onFound) {
                    onFound(results[0].geometry.location);
                }
            } else {
                alert("Google Geocode was not successful for the following reason: " + status);
            }
        });
    }

    function showDefaultPosition() {

        map.setCenter(currentPos); // Centers the map

        var mi = new google.maps.MarkerImage(
            "/images/coffee.png",   
            null, /* size is determined at runtime */
            null, /* origin is 0,0 */
            null, /* anchor is bottom center of the scaled image */
            new google.maps.Size(20, 25)
        );

        // Shows where you are
        var marker = new google.maps.Marker({
            position: currentPos,
            map: map,
            icon: mi,
          
        });

        myMarker = marker;

        //var infowindow = new google.maps.InfoWindow({
        // content: "<div style='width:80px;overflow:hidden;white-space:nowrap;line-height:1.35;height:auto;'>You are here</div>",
        //maxWidth: 200
        //});

        map.setZoom(12);

        // infowindow.open(map, myMarker);
    }*@


    function InitializeMap() {

        var latlng = new google.maps.LatLng(@CurrentPage.map);
        var mapStyles = [{ "featureType": "administrative.locality", "elementType": "all", "stylers": [{ "hue": "#2c2e33" }, { "saturation": 7 }, { "lightness": 19 }, { "visibility": "on" }] }, { "featureType": "administrative.locality", "elementType": "labels.text", "stylers": [{ "visibility": "on" }, { "saturation": "-3" }] }, { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [{ "color": "#f39247" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "hue": "#ffffff" }, { "saturation": -100 }, { "lightness": 100 }, { "visibility": "simplified" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "hue": "#ffffff" }, { "saturation": -100 }, { "lightness": 100 }, { "visibility": "off" }] }, { "featureType": "poi.school", "elementType": "geometry.fill", "stylers": [{ "color": "#f39247" }, { "saturation": "0" }, { "visibility": "on" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "hue": "#ff6f00" }, { "saturation": "100" }, { "lightness": 31 }, { "visibility": "simplified" }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#f39247" }, { "saturation": "0" }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "hue": "#008eff" }, { "saturation": -93 }, { "lightness": 31 }, { "visibility": "on" }] }, { "featureType": "road.arterial", "elementType": "geometry.stroke", "stylers": [{ "visibility": "on" }, { "color": "#f3dbc8" }, { "saturation": "0" }] }, { "featureType": "road.arterial", "elementType": "labels", "stylers": [{ "hue": "#bbc0c4" }, { "saturation": -93 }, { "lightness": -2 }, { "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "hue": "#e9ebed" }, { "saturation": -90 }, { "lightness": -8 }, { "visibility": "simplified" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "hue": "#e9ebed" }, { "saturation": 10 }, { "lightness": 69 }, { "visibility": "on" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "hue": "#7081FF" }, { "saturation": -5 }, { "lightness": 5 }, { "visibility": "simplified" }] }]

        var myOptions =
        {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: mapStyles
       
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'The Coffee Club'
        });
    }

    //function FindLocaiton() {
    //    geocoder = new google.maps.Geocoder();
    //    InitializeMap();

    //    var address = document.getElementById("addressinput").value;
    //    geocoder.geocode({ 'address': address }, function (results, status) {
    //        if (status == google.maps.GeocoderStatus.OK) {
    //            map.setCenter(results[0].geometry.location);
    //            var marker = new google.maps.Marker({
    //                map: map,
    //                position: results[0].geometry.location
    //            });

    //        }
    //        else {
    //            alert("Geocode was not successful for the following reason: " + status);
    //        }
    //    });

    //}


    //function Button1_onclick() {
    //    FindLocaiton();
    //}

    window.onload = InitializeMap;

</script> 