﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);

}


<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
        <div id="menuLogoTop">
            <h1 style="">@CurrentPage.Name</h1>
        </div>
    </div>   
</div>

<div id="orangeTab" style="height:44px;">
    <div class="container">
        <!-- Nav tabs -->
        <h3 id="storeName"></h3>
    </div>
</div>

<div class="container">
    <div class="row" style="  padding-top: 15px;padding-left: 27px;padding-bottom: 20px;">
        @*<div class="col-md-5" style="display:none;">
                <input type="text" placeholder="search" id="searchTextBox" style="  border: 1px solid black;height: 33px; padding-left:7px; width: 75%;" />

            </div>*@
        <div class="col-md-7">
            <input type="text" placeholder="search location" id="searchAddress" style="  border: 1px solid black;height: 33px; padding-left:7px; width: 55%;" />
            <input type="button" class="btn btn-success" id="goButton" style="width: auto;" value="Go" />
            <input type="button" class="btn btn-danger" id="btnReset" style="width: auto;" value="Reset" />
        </div>



        @*<div class="col-md-3">
              <input type="button" style=" margin-top: 4px;" id="btnDirection" value="Direction" onclick="getDirectionFromAutoComplete(this.className)"   />
                   <input type="button" style=" margin-top: 4px;" id="btnDirection" value="Direction" onclick="gotoStreetNavigation(this.className)" />
            </div>*@
    </div>

    <div class="row">
        <p style="  color: #ff9900;  margin-left: 43px;  margin-top: -12px;  margin-bottom: 5px;">OR CHOOSE</p>
    </div>

    <div class="col-md-6" id="storeListColumn">

        <label style="margin-left:14px;">NORTH ISLAND</label>
        <div id='cssmenu'>
            <ul id="mainListForStore">
                @*<li class='has-sub'>
                        <a class='highlightNorthland' href='#'><span>Northland</span></a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"Northland\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name">
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </li>*@

                @*<li class='has-sub highlightAuckland'>
                        <a href='#'><span>North of Auckland</span></a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"North of Auckland\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name">
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </li>*@

                <li class='has-sub highlightAuckland' id="AucklandNorth" >
                    <a href='#'><span>Auckland North</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Auckland North\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);

                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>



                <li class='has-sub highlightAuckland' id="AucklandCentral">
                    <a href='#'><span>Auckland Central</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Auckland Central\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>

                <li class='has-sub highlightAuckland' id="AucklandWest" >
                    <a href='#'><span>Auckland West</span></a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Auckland West\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </li>

                <li class='has-sub highlightAuckland' id="AucklandEast" >
                    <a href='#'><span>Auckland East</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Auckland East\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>

                <li class='has-sub highlightAuckland' id="AucklandSouth">
                    <a href='#'><span>Auckland South</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Auckland South\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>

                @*<li class='has-sub highlightAuckland'>
                        <a href='#'><span>South of Auckland</span> </a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"South of Auckland\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>*@

                <li class='has-sub highlightWaikato' id="BayofPlenty">
                    <a href='#'><span>Bay of Plenty</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Bay of Plenty\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
                <li class='has-sub highlightWaikato' id="Waikato">
                    <a href='#'><span>Waikato</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Waikato\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>



                @*<li class='has-sub highlightWaikato'>
                        <a href='#'><span>Taranaki</span> </a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"Taranaki\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>*@
                <li class='has-sub highlightWaikato' id="HawkesBay">
                    <a href='#'><span>Hawkes Bay</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Hawkes Bay\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
                <li class='has-sub highlightWellington' id="Manawatu">
                    <a href='#'><span>Manawatu</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Manawatu\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
                <li class='has-sub highlightWellington' id="Wellington-Wairarapa">
                    <a href='#'><span>Wellington - Wairarapa</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Wellington - Wairarapa\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>


                <br />
                <label style="margin-left:10px;">SOUTH ISLAND</label>
                @*<li class='has-sub highlightNelson'>
                        <a href='#'><span>Nelson - Marlborough</span> </a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"Nelson - Marlborough\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>*@
                @*<li class='has-sub highlightNelson'>
                        <a href='#'><span>West Coast</span> </a>
                        <ul class="expandIt">
                            @foreach (var item in @CurrentPage.Children.Where("Region ==\"West Coast\"").OrderBy("name"))
                            {
                                var srcStore = Umbraco.Media(item.imageAboveMap);
                                <li>
                                    <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                        <div class="col-xs-4 hidden-xs">
                                            <img src="@srcStore.Url" width="100%" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                            <b>@item.Name</b>
                                            <p>@item.addressline1</p>
                                            <p>@item.addressline2</p>
                                            <p>@item.addressline3</p>
                                            <p style="font-weight:600">Phone: @item.phone</p>
                                            <p>Email: @item.email</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                            <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                            <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>*@
                <li class='has-sub highlightCanterbury' id="Canterbury">
                    <a href='#'><span>Canterbury</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Canterbury\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
                <li class='has-sub highlightSouthland' id="Southland">
                    <a href='#'><span>Otago</span> </a>
                    <ul class="expandIt">
                        @foreach (var item in @CurrentPage.Children.Where("Region ==\"Otago\"").OrderBy("name"))
                        {
                            var srcStore = Umbraco.Media(item.imageAboveMap);
                            <li class="@item.id">
                                <div class="row storeBox" id="@item.name" onclick="mappy(@item.id)" data-storeid="@item.id"> <!-- onmouseover="mappyHover(@item.id)"-->
                                    <div class="col-xs-4 hidden-xs">
                                        <img src="@srcStore.Url" width="100%" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6" style="padding-right:0px;">
                                        <b>@item.Name</b>
                                        <p>@item.addressline1</p>
                                        <p>@item.addressline2</p>
                                        <p>@item.addressline3</p>
                                        <p style="font-weight:600">Phone: @item.phone</p>
                                        <p>Email: @item.email</p>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <a class="viewMore" href="@item.Url">VIEW MORE</a><br />
                                        <a href="#map-canvas" class="directionLink" onclick="getDirectionStore('@item.map')">DIRECTIONS</a>
                                        <a class="inviteLink" href="mailto:?Subject=Where%20will%20i%20meet%20you%3F&Body=Hi%20%2C%0A%0A%0A%0A @item.name%0A @item.addressline1 %0A @item.addressline2 %0A @item.addressline3 %0A @item.phone %0A @item.email ">INVITE A FRIEND</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    @*@section Javascript{
            <link href="/css/jquery-ui.min.css" rel="stylesheet" />
            <script src="/js/jquery-ui.min.js"></script>
            <script type="text/javascript">

                var states = [
                 @foreach (var item in @CurrentPage.Children)
                   {
                    <text>
                     { label: "@item.name", value: "@item.map" },
                   </text>
                    }
                ];

                $("#searchTextBox").autocomplete({
                    minLength: 0,
                    source: states,
                    focus: function (event, ui) {
                        $("#searchTextBox").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#searchTextBox").val(ui.item.label);
                        autoCompleteSelectEvent(ui.item.value);

                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                      .append("<a>" + item.label + "</a>")
                      .appendTo(ul);
                };
            </script>
        }*@


    <div class="col-md-6" style="position:relative">

        <div class="page" style="margin:1px;">
            @*<div style="text-align:center;display:none"><a href="/" style="color:#0088cc;text-decoration:none;font-size:18px;margin-top:3px;margin:0;">Back to Home</a></div>*@

            @*<div id="branchpanel" style="height:125px">
            <div id="branch" style="color:black"><div style="font-size:20px;margin-top:1px;">Enter your location to find a workshop in your area</div></div>

            <div style="margin-top: 6px;">
                <input id="searchAddress" type="text" style="width:150px; height:30px;" />
                <div style="display:inline-block;">
                    <button id="goButton" class="topbuttons" style=" height: 30px; margin-top: 3px">Go</button>
                    <button id="clearButton" class="topbuttons" style="display:none;width:50px;height:30px;margin-left:5px;">Refresh</button>
                    <div id="directionsActiveButtonWrapper" style="display: inline-block; ">
                        <div id="directionsActiveButton" class="viewdirbutton" style="display: none; height: 40px; width: 130px; position: relative; top: -10px; right: -100px">
                            <div id="dirbuttontext" style="position: relative; top: 10px; color:white;text-align:center">View Directions</div>
                        </div>
                    </div>
                </div>



                <div style="display: inline-block; float: right; ">
                    <select id="regions" style="width: 189px;font-weight:normal;">
                        <option value="">Browse by region</option>
                        @foreach (var item in @CurrentPage.Children)
                        {
                            <option value="@item.map">@item.name</option>
                        }
                    </select>
                </div>

            </div>
        </div>*@

            @*<div id="tabbar" style="height:45px; border:0 solid #fff;margin-bottom:3px;display:none">
            <div id="navButton" class="topmenu" style="color:#fff;font-weight:bold;width:50%;display:inline-block;float:left;text-align:center;display:none">
                <div style="margin-top:5px;">
                    <a id="navigate" class="button" href="#" style="color:white;text-decoration:none;display:inline-block;height:37px;width:165px">
                        <div style='margin-top:12px'>Navigate</div>
                    </a>
                </div>
            </div>
            <div id="directionsButton" class="topmenu" style="color:#fff;font-weight:bold;width:50%;display:inline-block;float:right;text-align:center;">
            </div>
        </div>*@
            <div id="map-canvas" style="width:100%; height:100%;">
            </div>

            <div id="directions-panel" style="font-size:12px;background-color:white;display:none">
            </div>


            @*@section Javascript
        {*@
            @*<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>*@

            @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>*@
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABG1Dr54I63kK7UnYE2M-PKcVBcwQDVBs&libraries=geometry&callback=initMap"
        async defer></script>
            <script type="text/javascript">
                    var map;
                    var directionsDisplay;
                   //var directionsService = new google.maps.DirectionsService();
                    var directionsService;
                    var currentPos;
                    //var latLngBounds = new google.maps.LatLngBounds();
                   var  latLngBounds;
                    //var allBounds = new google.maps.LatLngBounds();
                    var allBounds;
                    var x = document.getElementById("demo");
                    var _placeMarkers;
                    var preInfoWindow;
                    var preMarker;
                    var myMarker;
                    var myPos;
                    var isMapVis = true;
                    var currentLocationId;
                    var hoverInfoWindow;
                    var places;
                    ///$(document).ready(function () {
                    $(window).load(function () {
                        //if ($("#searchTextBox").val().length == 0) {
                        //    $("#btnDirection").hide();
                        //} else {
                        //    $("#btnDirection").show();
                        //}

                        //$('#searchTextBox').keyup(function () {
                        //    if ($('#searchTextBox').val().length == 0) {
                        //        $("#btnDirection").hide();
                        //    }
                        //    else {
                        //        $("#btnDirection").show();
                        //    }
                        //});


                    places =
                      [
                            @foreach (var item in @CurrentPage.Children)
                         {
                           <text>
                                    [new google.maps.LatLng(@item.map), "@item.name", @item.id],
                           </text>
                         }

                      ];

                        hoverInfoWindow = new google.maps.InfoWindow();
                        onWindowResize();
                        initMap();
                        _placeMarkers = showPlaces();
                        makeMarkers();
                        getLocation();

                        window.scrollTo(0, 0);
                        $("#navButton").click(function () {
                            /*
                                    $("#map-canvas").show();
                                    $("#directions-panel").hide();
                                    $("#navButton").css("color", "white");
                                    $("#directionsButton").css("color", "gray");
                            */
                        });

                        $(".has-sub a").click(function () {
                            $('ul.expandIt li').css("display", "block");
                        });


                        $("#directionsActiveButton").click(function () {

                            if (isMapVis) {
                                $("#directions-panel").show();
                                $("#map-canvas").hide();
                                $("#directionsActiveButton").removeClass("viewdirbutton");
                                $("#directionsActiveButton").addClass("viewmapbutton");
                                $("#dirbuttontext").text("View Map");

                                isMapVis = false;
                            } else {
                                $("#map-canvas").show();
                                $("#directions-panel").hide();
                                $("#directionsActiveButton").removeClass("viewmapbutton");
                                $("#directionsActiveButton").addClass("viewdirbutton");
                                $("#dirbuttontext").text("View Directions");
                                isMapVis = true;
                            }
                        });

                        $(window).resize(function () {
                            onWindowResize();
                        });

                        $("#routeInfo").click(function () {

                            if (this.innerHTML == "More Info") {
                                var ele = document.getElementById("branchpanel");
                                ele.scrollIntoView(true);
                                $("#routeInfo").html("Map View");
                            } else {
                                var ele = document.getElementById("map-canvas");
                                ele.scrollIntoView(true);
                                $("#routeInfo").html("More Info");
                            }

                            return false;
                        });

                        $("#goButton").click(function () {
                            //getLocation();
                            var address = $("#searchAddress").val();
                            if (jQuery.trim(address).length > 0) {

                                initMap();
                                _placeMarkers = showPlaces();
                                makeMarkers();

                                gotoAddress(address, function (pos) {
                                    currentPos = pos;
                                    showDefaultPosition();
                                    document.getElementById('map-canvas').scrollIntoView();
                                });
                            }
                            else {
                                alert("Please enter a valid address");
                            }


                        });



                        $("#searchAddress").keypress(function (e) {
                            var code = (e.keyCode ? e.keyCode : e.which);

                            if (code == 13) { //Enter keycode

                                var address = $("#searchAddress").val();
                                if (jQuery.trim(address).length > 0) {

                                    initMap();
                                    _placeMarkers = showPlaces();
                                    makeMarkers();

                                    gotoAddress(address, function (pos) {
                                        currentPos = pos;
                                        showDefaultPosition();
                                        document.getElementById('map-canvas').scrollIntoView();
                                    });
                                }
                                else {
                                    alert("Please enter a valid address");
                                }

                            }
                        });

                        $("#btnReset").click(function () {
                            //document.location.reload();

                            onWindowResize();
                            initMap();

                            showDefaultPosition();
                            _placeMarkers = showPlaces();
                            makeMarkers();
                            // window.scrollTo(0, 0);


                            //currentPos = myPos;
                            //$("#searchAddress").val("");
                            //if (searchedMarker) {
                            //    searchedMarker.setMap(null);
                            //    searchedMarker = null;
                            //}
                            //showDefaultPosition();
                            //$("#clearButton").hide();
                        });

                        $("#regions").change(function (e) {
                            var value = $(this).val();
                            if (value != "") {
                                var latLng = new google.maps.LatLng(value.split(",")[0], value.split(",")[1])
                                //var latLng = new google.maps.LatLng(value);
                                map.panTo(latLng);
                                var zoomLevel = 10;
                                map.setZoom(zoomLevel);
                            }
                        });

                        $("#findButton").click(function () {
                            var address = $("#searchAddress").val();
                            gotoAddress(address, function (pos) {
                                $("#clearButton").show();
                                currentPos = pos;

                                showDefaultPosition();
                            });
                        });

                    });



                    function onViewWebsite() {

                        var link = $("#viewwebsite").attr("data-link");
                        $.ajax({ type: "POST", url: "/MapView/LogUsage", data: { lat: currentPos.lat(), lng: currentPos.lng(), locationId: currentLocationId, isLink: true } });
                        window.open(link);
                    }

                    function getDirectionStore(lat) {

                        //var latLng = new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1])
                        // map.panTo(latLng);
                        // var zoomLevel = 15;
                        // map.setZoom(zoomLevel);

                        var latLng = new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1])

                        calcRoute(currentPos, latLng);
                    }


                    function autoCompleteSelectEvent(lat) {
                        var latLng = new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1]);
                        calcRoute(currentPos, latLng);
                        document.getElementById('map-canvas').scrollIntoView();
                    }

                    //function autoCompleteSelectEvent(lat) {
                    //     var latLng = new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1])
                    //     map.panTo(latLng);
                    //     var zoomLevel = 13;
                    //     map.setZoom(zoomLevel);
                    //     $("#btnDirection").show();
                    //     $("#btnDirection").addClass(lat);

                    //}

                    //function getDirectionFromAutoComplete(lat) {
                    //    var latLng = new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1])

                    //    calcRoute(currentPos, latLng);
                    //}

                    function onWindowResize() {

                        var windowHeight = $(window).height();
                        var windowWidth = $(window).width();
                        var availableHeight = (windowHeight - $('#branchpanel').height() - 20);
                        if (availableHeight < 0) availableHeight = 0;

                        var availableWidth = windowWidth;
                        if (availableWidth < 0) availableWidth = 0;

                        //$('#map-canvas').css('height', availableHeight + "px").css('width', availableWidth + "px");
                        $('#map-canvas').css('height', availableHeight + "px").css('width', '100%');

                        try {
                            if (map) {
                                google.maps.event.trigger(map, 'resize');
                            }
                        } catch (e) { }
                    }

                    function getLocation() {
                        var options = { timeout: 2000 };
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition, function (error) {
                                //alert(error);
                            }, options);
                        }
                        else {
                            //x.innerHTML = "Geolocation is not supported by this browser.";
                        }
                    }

                    function showDefaultPosition() {

                        map.setCenter(currentPos); // Centers the map

                        var mi = new google.maps.MarkerImage(
                            "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFFF00",
                            //"https://cdn1.iconfinder.com/data/icons/dot/64/man_person_mens_room.png",
                            null, /* size is determined at runtime */
                            null, /* origin is 0,0 */
                            null, /* anchor is bottom center of the scaled image */
                            new google.maps.Size(15, 20)
                        );

                        // Shows where you are
                        var marker = new google.maps.Marker({
                            position: currentPos,
                            map: map,
                            icon: mi
                        });

                        myMarker = marker;

                        //var infowindow = new google.maps.InfoWindow({
                        // content: "<div style='width:80px;overflow:hidden;white-space:nowrap;line-height:1.35;height:auto;'>You are here</div>",
                        //maxWidth: 200
                        //});

                        map.setZoom(12);

                        // infowindow.open(map, myMarker);
                    }

                    function makeMarkers() {
                        var placeMarkers = _placeMarkers;
                        for (var i = 0; i < placeMarkers.length; i++) {
                            var clicked = false;
                            var windowWidth = $(window).width();


                            google.maps.event.addListener(placeMarkers[i], 'mouseover', function () {
                                //hoverInfoWindow = new google.maps.InfoWindow({
                                //    content: this.title
                                //});

                                //if (!clicked) {

                                if (windowWidth > 992)
                                {
                                    hoverInfoWindow.setContent(this.title);
                                    hoverInfoWindow.open(map, this);

                                    $("#mainListForStore .active> .expandIt").css({ "display": "none" });
                                    $("#mainListForStore .active").removeClass('active');

                                    $("[id='" + this.title + "']").parents(".expandIt").css({ "display": "block" });
                                    $("[id='" + this.title + "']").parents(".has-sub").addClass('active');

                                    //For changing border color
                                    $("#mainListForStore .active> .expandIt .row").css({ "border-color": "#000000" });
                                    $("[id='" + this.title + "']").css({ "border-color": "#ff9900" });

                                    //For displaying other store after hover
                                    $("[id='" + this.title + "']").parent().siblings().css("display", "none");
                                    $("." + this.storeId).css("display", "block");

                                    //}
                                    //else {
                                    //    clicked = false;
                                    //}

                                }


                            });

                            google.maps.event.addListener(placeMarkers[i], 'mouseout', function () {
                                if (!clicked) {
                                    hoverInfoWindow.close(map, this);
                                    $("[id='" + this.title + "']").parent().siblings().css("display", "block");
                                }
                                else {
                                    clicked = false;
                                }
                            });

                            google.maps.event.addListener(placeMarkers[i], 'click', function () {

                                if (!clicked) {
                                    clicked = true;
                                }
                                else {
                                    clicked = false;
                                }

                                if (windowWidth < 992)
                                {

                                    $("#mainListForStore .active> .expandIt").css({ "display": "none" });
                                    $("#mainListForStore .active").removeClass('active');

                                    $("[id='" + this.title + "']").parents(".expandIt").css({ "display": "block" });
                                    $("[id='" + this.title + "']").parents(".has-sub").addClass('active');

                                    //For changing border color
                                    $("#mainListForStore .active> .expandIt .row").css({ "border-color": "#000000" });
                                    $("[id='" + this.title + "']").css({ "border-color": "#ff9900" });

                                    //For displaying other store after hover
                                    $("[id='" + this.title + "']").parent().siblings().css("display", "none");
                                    $("." + this.storeId).css("display", "block");


                                    $('html, body').animate({
                                        scrollTop: $("." + this.storeId).offset().top- 40
                                    }, 500);
                                   // $("." + this.storeId).scrollIntoView();

                                }


                                //currentLocationId = this.locationId;
                                //if (currentPos) {
                                //    calcRoute(currentPos, this.position, currentLocationId);
                                //}

                            });

                        }
                    }

                    function mappy(storeId) {

                        for (var i = 0; i < _placeMarkers.length; i++) {
                            if (_placeMarkers[i].storeId == storeId) {
                                var latLng = _placeMarkers[i].getPosition(); // returns LatLng object
                               // map.setCenter(latLng); // setCenter takes a LatLng object

                                hoverInfoWindow.setContent(_placeMarkers[i].title);
                                hoverInfoWindow.open(map, _placeMarkers[i]);
                            }
                        }
                    }

                    function mappyHover(storeId) {

                        for (var i = 0; i < _placeMarkers.length; i++) {
                            if (_placeMarkers[i].storeId == storeId) {
                                // setCenter takes a LatLng object

                                hoverInfoWindow.setContent(_placeMarkers[i].title);
                                hoverInfoWindow.open(map, _placeMarkers[i]);
                            }
                        }
                    }


                    function showPosition(position) {
                       myPos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude); // Creates center LatLng
                        currentPos = myPos;
                        //Kev
                        latLngBounds = new google.maps.LatLngBounds();
                        //Kev

                        latLngBounds.extend(currentPos);

                        showDefaultPosition();

                        //var infowindow = new google.maps.InfoWindow({
                        //    content: "<div style='width:100px'>You are here</div>",
                        //    maxWidth: 320
                        //});

                        for (var i = 0; i < _placeMarkers.length; i++) {
                            if (currentPos != null) {
                                _placeMarkers[i].distance = google.maps.geometry.spherical.computeDistanceBetween(currentPos, _placeMarkers[i].getPosition());
                            }
                        }

                        _placeMarkers.sort(function (a, b) { return a.distance - b.distance });

                        latLngBounds.extend(_placeMarkers[0].getPosition());
                        latLngBounds.extend(_placeMarkers[1].getPosition());
                        //latLngBounds.extend(_placeMarkers[2].getPosition());

                        //infowindow.open(map, myMarker);
                        map.fitBounds(latLngBounds);

                    }

                    function getDirection(lat, lng) {

                        calcRoute(currentPos, new google.maps.LatLng(lat, lng));
                    }

                    function gotoStreet(lat, lng, head) {

                        var panoramaOptions = {
                            position: new google.maps.LatLng(lat, lng),
                            pov: {
                                heading: head,
                                pitch: 10,
                                zoom: 1
                            }
                        };

                        var panorama = map.getStreetView();
                        panorama.setPosition(new google.maps.LatLng(lat, lng));
                        panorama.setPov({
                            heading: head,
                            zoom: 1,
                            pitch: 0
                        }
                        );
                        panorama.setVisible(true);

                        return false;
                    }

                    //function gotoStreetNavigation(lat) {
                    //    var panoramaOptions = {
                    //        position: new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1]),
                    //        pov: {
                    //            heading: 235,
                    //            pitch: 10,
                    //           // zoom: 1
                    //        }
                    //    };

                    //    var panorama = map.getStreetView();
                    //    panorama.setPosition(new google.maps.LatLng(lat.split(",")[0], lat.split(",")[1]));
                    //    panorama.setPov({
                    //        heading: 235,
                    //        //zoom: 1,
                    //        pitch: 10
                    //    }
                    //    );
                    //    panorama.setVisible(true);

                    //    return false;
                    //}


                    var preInfoWindow;
                    var searchedMarker;
                    function gotoAddress(address, onFound) {
                        var geocoder = new google.maps.Geocoder();

                        geocoder.geocode({ 'address': address + ', NZ' }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                //map.setZoom(18);
                                //map.setCenter(results[0].geometry.location);
                                //searchedMarker = new google.maps.Marker({
                                //    map: map,
                                //    position: results[0].geometry.location
                                //});

                                //// open up the address
                                //searchedMarker.set("address", results[0].formatted_address);
                                //preInfoWindow = new google.maps.InfoWindow({
                                //    content: searchedMarker.get("address")
                                //});
                                //preInfoWindow.open(map, searchedMarker);
                                if (onFound) {
                                    onFound(results[0].geometry.location);
                                }
                            } else {
                                alert("Address not found");
                            }
                        });
                    }


                    function showPlaces() {

                        //Kev
                        allBounds = new google.maps.LatLngBounds();
                        //Kev
                        var mi = new google.maps.MarkerImage(
                                //"http://dev.codemeit.com/images/blue.png",
                               "/images/coffee.png",
                                null, /* size is determined at runtime */
                                null, /* origin is 0,0 */
                                null, /* anchor is bottom center of the scaled image */
                                new google.maps.Size(20, 25)
                            );
                        var placeMarkers = [];
                        for (var i = 0; i < places.length; i++) {
                            //console.log(places);
                            var pos = places[i][0];
                            //latLngBounds.extend(pos);

                            var marker0 = new google.maps.Marker({
                                position: pos,
                                map: map,
                                icon: mi,
                                title: places[i][1],
                                storeId: places[i][2]
                                //address: places[i][2],
                                //phone: places[i][3],
                                //owner: places[i][6],
                                //website: places[i][7],
                                //locationId: places[i][4]
                            });

                            allBounds.extend(pos);
                            placeMarkers.push(marker0);
                        }

                        map.fitBounds(allBounds);
                        return placeMarkers;
                    }

                    function initMap() {
                        directionsDisplay = new google.maps.DirectionsRenderer();

                        var mapStyles = [{ "featureType": "administrative.locality", "elementType": "all", "stylers": [{ "hue": "#2c2e33" }, { "saturation": 7 }, { "lightness": 19 }, { "visibility": "on" }] }, { "featureType": "administrative.locality", "elementType": "labels.text", "stylers": [{ "visibility": "on" }, { "saturation": "-3" }] }, { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [{ "color": "#f39247" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "hue": "#ffffff" }, { "saturation": -100 }, { "lightness": 100 }, { "visibility": "simplified" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "hue": "#ffffff" }, { "saturation": -100 }, { "lightness": 100 }, { "visibility": "off" }] }, { "featureType": "poi.school", "elementType": "geometry.fill", "stylers": [{ "color": "#f39247" }, { "saturation": "0" }, { "visibility": "on" }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "hue": "#ff6f00" }, { "saturation": "100" }, { "lightness": 31 }, { "visibility": "simplified" }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#f39247" }, { "saturation": "0" }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "hue": "#008eff" }, { "saturation": -93 }, { "lightness": 31 }, { "visibility": "on" }] }, { "featureType": "road.arterial", "elementType": "geometry.stroke", "stylers": [{ "visibility": "on" }, { "color": "#f3dbc8" }, { "saturation": "0" }] }, { "featureType": "road.arterial", "elementType": "labels", "stylers": [{ "hue": "#bbc0c4" }, { "saturation": -93 }, { "lightness": -2 }, { "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.text", "stylers": [{ "visibility": "off" }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "hue": "#e9ebed" }, { "saturation": -90 }, { "lightness": -8 }, { "visibility": "simplified" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "hue": "#e9ebed" }, { "saturation": 10 }, { "lightness": 69 }, { "visibility": "on" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "hue": "#7081FF" }, { "saturation": -5 }, { "lightness": 5 }, { "visibility": "simplified" }] }]

                        var mapOptions = {
                            center: new google.maps.LatLng(-41.2889, 174.7400),
                            zoom: 5,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,

                            styles: mapStyles
                        };

                        map = new google.maps.Map(document.getElementById("map-canvas"),
                            mapOptions);

                        directionsDisplay.setMap(map);
                        directionsDisplay.setPanel(document.getElementById('directions-panel'));
                    }

                    function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
                        var R = 6371; // Radius of the earth in km
                        var dLat = deg2rad(lat2 - lat1);  // deg2rad below
                        var dLon = deg2rad(lon2 - lon1);
                        var a =
                          Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                          Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                          Math.sin(dLon / 2) * Math.sin(dLon / 2)
                        ;
                        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                        var d = R * c; // Distance in km
                        return d;
                    }

                    function calcRoute(start, end, locationId) {
                        directionsService = new google.maps.DirectionsService();

                        try {

                            if (locationId) {
                                //$.ajax({ type: "POST", url: "/MapView/LogUsage", data: { lat: start.lat(), lng: start.lng(), locationId: locationId } });
                            }
                        } catch (e) {
                            console.log(e);
                        }

                        var request = {
                            origin: start,
                            destination: end,
                            travelMode: google.maps.DirectionsTravelMode.DRIVING
                        };
                        directionsService.route(request, function (response, status) {
                            if (status == google.maps.DirectionsStatus.OK) {
                                directionsDisplay.setDirections(response);
                            }
                        });
                    }


                    @*var places =
                      [
                            @foreach (var item in @CurrentPage.Children)
                         {
                           <text>
                                    [new google.maps.LatLng(@item.map), "@item.name", @item.id],
                               </text>
                         }

                      ];*@


            </script>


            @if (Request["sid"] != null)
            {
                <script>
                    function getUrlVars() {
                        var vars = [], hash;
                        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                        for (var i = 0; i < hashes.length; i++) {
                            hash = hashes[i].split('=');
                            vars.push(hash[0]);
                            vars[hash[0]] = hash[1];
                        }
                        return vars;
                    }
                    var storeNameToFilter = getUrlVars()["sid"];
                    if (storeNameToFilter != '') {
                        var storeName = storeNameToFilter.replace("%20", "").replace("%20", "");
                        $("#" + storeName).addClass("active");
                        $("#" + storeName + "> .expandIt").css({ "display": "block" });
                    }
                </script>
            }



            @*} Section javascript*@
        </div>




    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}




<style>
    #branchpanel {
        font-size: 1.1em;
        padding: 3px;
        color: rgb(181, 181, 181);
        font-weight: normal;
        height: 60px;
        position: relative;
        margin: 0;
        background-color: #ffffff;
    }
    /*.inviteLink {
        display:none !important;
    }*/
</style>