﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);    
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div class="container">
            <div id="menuLogoTop">
                <h1>@CurrentPage.Parent.name.ToUpper()</h1>
            </div>
    </div>
</div>

	
@RenderBody()

@section Javascript
{
    @RenderSection("Javascript")
}