﻿<div class="row">
    <div class="container home-block">
        <div class="col-sm-4 text-center">
            <h3>WHERE</h3>
            <h3>WILL I</h3>
            <h3>MEET YOU?</h3>
            <hr class="hrFooter" />
            <p><a href="/store-locator/" class="btnBottom">STORE LOCATOR</a></p>

        </div>
        <div class="col-sm-4 text-center">
            <h3>WANT</h3>
            <h3>SOMETHING</h3>
            <h3>DELICIOUS?</h3>
            <hr class="hrFooter" />
            <p><a href="/our-menu/our-menu/all-day-breakfast/" class="btnBottom">OUR MENU</a></p>

        </div>
        <div class="col-sm-4 text-center">
            <h3>NZ'S</h3>
            <h3>BEST CAFE</h3>
            <h3>EXPERIENCE</h3>
            <hr class="hrFooter" />
            <p><a href="/vip-club/about-the-vip-club/" class="btnBottom">VIP CLUB</a></p>
        </div>
		@*<div class="col-sm-3 text-center">
            <h3>CHRISTMAS</h3>
            <h3>TRADING</h3>
            <h3>HOURS</h3>
            <hr class="hrFooter" />
            <p><a href="/christmas-hours/" class="btnBottom">CHRISTMAS HOURS</a></p>
        </div>*@
    </div>
</div>
   

