﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var home = CurrentPage.Site();
}


<ul class=" visible-xs visible-sm ">
    <li style="border:none"><a href="https://www.facebook.com/thecoffeeclubnz" target="_blank"><img class="socialIconsMobile" src="~/images/facebook.png" alt="coffee_club" /></a></li>

    <li style="border:none"><a href="https://instagram.com/thecoffeeclubnz/" target="_blank"><img class="socialIconsMobile" src="~/images/instagram.png" alt="coffee_club" /></a></li>
    <li style="border:none"><a href="https://www.youtube.com/user/TheCoffeeClubNZ/" target="_blank"><img class="socialIconsMobile" src="~/images/YouTubeIcon.png" alt="coffee_club" /></a></li>

  
    
</ul>

<ul id="footerNav" style="list-style-type: none;" class="hidden-xs hidden-sm">   
    <li style="border:none; margin-right: -10px;"><a href="https://www.facebook.com/thecoffeeclubnz" target="_blank" ><img class="socialIcons" src="~/images/facebook.png" alt="coffee_club" /></a></li>
 
    <li style="border:none; margin-right: -10px;"><a href="https://instagram.com/thecoffeeclubnz/" target="_blank" ><img class="socialIcons" src="~/images/instagram.png" alt="coffee_club" /></a></li>
    <li style="border:none; margin-right: -10px;"><a href="https://www.youtube.com/user/TheCoffeeClubNZ/" target="_blank"><img class="socialIcons" src="~/images/YouTubeIcon.png" alt="coffee_club" /></a></li>


    <li><a href="/home">THE COFFEE CLUB</a></li>
    <li><a href="/store-locator">STORE LOCATOR</a></li>
    <li><a href="/our-menu/our-menu/all-day-breakfast/">OUR MENU</a></li>
    @*<li><a href="/our-menu/our-drinks/coffees">OUR COFFEES</a></li>*@
    <li><a href="/promotions-sponsorship/current-promotions/">PROMOTION AND SPONSORSHIP</a></li>
    <li><a href="/vip-club/about-the-vip-club/">VIP CLUB</a></li>
    
		@* Kevin : renamed <li><a href="http://franchise.thecoffeeclub.co.nz/" target="_blank">JOIN OUR FRANCHISE</a></li>*@
		<li><a href="http://franchise.thecoffeeclub.co.nz/" target="_blank">FRANCHISE OPPORTUNITIES</a></li>
		@* Added by JanSobida 23-11-2018*@
		<li><a href="https://www.tccresourcehub.co.nz/" target="_blank">FRANCHISEE LOGIN</a></li>
    <li><a href="/contact-us">CONTACT US</a></li>
</ul>




@*@if (home.Children.Where("Visible").Any())
{
   
    foreach (var childPage in home.Children.Where("Visible"))
    {   
        <div class="col-xs-6 col-sm-3">
            @if (childPage.Children.Where("Visible").Any())
            {                    
                <strong>@childPage.Name</strong>
                @childPages(childPage.Children)
            }
        </div>
    }
}*@

@*<div class="col-xs-6 col-sm-3">
    <strong>Find us</strong>
    <ul>
        <li>
            <a href="https://twitter.com/umbracoproject" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com/Umbraco" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="http://umbraco.com/?utm_source=core&utm_medium=starterkit&utm_content=topic-link&utm_campaign=fanoe" target="_blank">Umbraco.com</a>
        </li>
    </ul>
</div>*@

@*@helper childPages(dynamic pages)
{
    
    if (pages.Any())
    {
        <ul>
            @foreach (var page in pages.Where("Visible"))
            {
                <li>
                    <a href="@page.Url">@page.Name</a>
                </li>
            }
        </ul>
    }
}*@