﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Coffee_Club.Model.ContactModel>

 @using (Html.BeginUmbracoForm<Coffee_Club.Controllers.ContactController>("ContactForm", new { RedirectPage = 1226 } , new {@id="contact-form" }, FormMethod.Post  ))
 {
            <div class="col-sm-12">
                <div class="row marginontop">
                    <div class="col-md-3 columns">
                        <label for="Name" class="right inline">Name <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                       @Html.TextBoxFor(x => x.Name, new {@class="form-control", placeholder="Your Name"  })
                       @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="row marginontop">
                    <div class="col-md-3 columns">
                        <label for="Email" class="right inline">Email <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Your Email Address" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                </div>
                <div class="row marginontop">
                    <div class="col-md-3 columns">
                        <label for="Phone" class="right inline">Phone <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone" })
                        @Html.ValidationMessageFor(x => x.Phone)
                    </div>
                </div>               

                <div class="row marginontop">
                    <div class="col-md-3 columns">
                        <label for="Subject" class="right inline">Subject</label>
                    </div>
                    <div class="col-md-9 columns">
                     @Html.DropDownListFor(x => x.Subject, new SelectList(ViewBag.Subjects, "Text", "Value"), new  { @class="form-control" })

                    </div>
                </div>

                <div class="row marginontop feedBackItem">
                    <div class="col-md-3 columns">
                        <label for="VisitedDate" class="right inline">Date of visit<span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                       <input type="date" id="VisitedDate" name="VisitedDate" class="form-control" />
                        @Html.ValidationMessageFor(x => x.VisitedDate)
                    </div>
                </div>

                <div class="row marginontop feedBackItem">
                    <div class="col-md-3 columns">
                        <label for="VisitedTime" class="right inline">Time of visit<span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                        <select name="VisitedTime" id="VisitedTime" class="form-control">
                            <option value="Select Store" selected="selected">Select Time</option>
                            <option value="6.00am">6.00am</option>
                            <option value="7.00am">7.00am</option>
                            <option value="8.00am">8.00am</option>
                            <option value="9.00am">9.00am</option>
                            <option value="10.00am">10.00am</option>
                            <option value="11.00am">11.00am</option>
                            <option value="12.00pm">12.00pm</option>
                            <option value="1.00pm">1.00pm</option>
                            <option value="2.00pm">2.00pm</option>
                            <option value="3.00pm">3.00pm</option>
                            <option value="4.00pm">4.00pm</option>
                            <option value="5.00pm">5.00pm</option>
                            <option value="6.00pm">6.00pm</option>
                            <option value="7.00pm">7.00pm</option>
                            <option value="8.00pm">8.00pm</option>
                            <option value="9.00pm">9.00pm</option>
                            <option value="10.00pm">10.00pm</option>
                            <option value="11.00pm">11.00pm</option> 
                        </select>
                        @Html.ValidationMessageFor(x => x.VisitedTime)
                    </div>
                </div>


                <div class="row marginontop feedBackItem">
                    <div class="col-md-3 columns">
                        <label for="VisitedStore" class="right inline">Store<span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">
                        <select name="VisitedStore" id="VisitedStore" class="form-control">
                            @{Html.RenderPartial("StoreList");}
                        </select>
                        @Html.ValidationMessageFor(x => x.VisitedDate)
                    </div>
                </div>

                <div class="row marginontop">
                    <div class="col-md-3 columns">
                        <label for="Message" class="right inline">Message <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9 columns">                       
                         @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Regarding", @style = "min-height:100px;  max-width: 100%;" })
                        @Html.ValidationMessageFor(x => x.Message)
                     </div>
                </div>
                <div class="row marginontop">    
                    <div class="col-md-3 columns">                           
                                       
                    </div>
                    <div class="col-md-9 columns">                      
                        <img id="m_imgCaptcha" src="" style="width: 70%; height: 50px;" /> <span style="position:relative; top:-20px; "><a onclick="loadCaptcha()">Next Image</a></span> <br />
                        @*<input type="text" id="m_tbCaptcha" class="form-control" placeholder="Enter 4 digit code from above" style="" /><br />*@
                        @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control", placeholder = "Enter 4 digit code from above" })
                        @*<input id="m_btValidate" type="button" value="Validate" onclick="btValidate()" />*@
                    </div>
                </div>


                <div class="row marginontop">
                    <div class="col-md-9 col-md-offset-3 columns">
                        <input type="submit" class="btn btn-primary" id="" value="Send" />
                    </div>
                </div>    
            </div>
        }

<script>
   //document.getElementById("submitButton1").disabled = true;
    $(document).ready(function () {
        $(".feedBackItem").hide();
        loadCaptcha();

        $("#contact-form").submit(function (e) {
            var selectedSubject= document.getElementById("Subject");
            var selectedSubjectType = selectedSubject.options[selectedSubject.selectedIndex].text;
            var captchaText = $('#Captcha').val();
                      
            if (selectedSubjectType == "Feedback")
            {
                var storeSelected = document.getElementById("VisitedStore");
                var storeSelectedName = storeSelected.options[storeSelected.selectedIndex].text;
                if (storeSelectedName == "Select Store")
                {                    
                    $("#VisitedStore").addClass("input-validation-error");
                    e.preventDefault();
                }

                var dateVisited = document.getElementById("VisitedDate").value;
                if (!dateVisited.match(/\S/))
                {
                    $("#VisitedDate").css({ "border-color": "rgba(217, 9, 44, 1)" });
                    e.preventDefault();
                }


                var timeVisitedVar = document.getElementById("VisitedTime");
                var timeVisited = timeVisitedVar.options[timeVisitedVar.selectedIndex].text;
                if (timeVisited == "Select Time") {
                    $("#VisitedTime").addClass("input-validation-error");
                    e.preventDefault();
                }               
            }

            e.preventDefault();          
            $.ajax({
                type: 'GET',
                url: '/umbraco/surface/Contact/CaptchaTextCompare',
                data: { isContact: true, captchaText: captchaText },
                dataType: "json",
                cache: false,
                success: function (data) {                   
                    if (!data.success) {
                        alert("Captch code did not match....");
                       
                    } else {
                        $('#contact-form').off('submit')
                        $('#contact-form').submit();
                    }
                },
                error: function (data) {
                    alert("Something went wrong Please try again later");                   
                }
            });         
          
        });
               

        $("#VisitedDate").on("change", function () {
            var dateVisited = document.getElementById("VisitedDate").value;
            if (!dateVisited.match(/\S/)) {
                $("#VisitedDate").css({ "border-color": "rgba(217, 9, 44, 1)" });                
            }
            else {
                $("#VisitedDate").css({ "border": "1px solid #cccccc" });   
            }
        })

        $("#Subject").change(function () {
            var selectedSubject = document.getElementById("Subject");
            var selectedSubjectType = selectedSubject.options[selectedSubject.selectedIndex].text;

            if (selectedSubjectType == "Feedback") {
                $(".feedBackItem").show();
            }
            else
            {
                $(".feedBackItem").hide();
            }

        });

    });
    function loadCaptcha() {
        $.ajax({
            type: 'GET',
            url: '/umbraco/surface/Contact/generateCaptcha',
            dataType: "json",
            cache: false,
            //success: function (data) { $("#m_imgCaptcha").attr('src', '/CaptchaImages/' + data.ImgUrl); $("#hiddenSession").attr('value', data.SessionName); },
            success: function (data) { $("#m_imgCaptcha").attr('src', '/CaptchaImages/' + data.ImgUrl); },
            error: function (data) { alert("Error while loading captcha image") }
        });
    }
    //function btValidate() {
    //    var valueInput = document.getElementById("m_tbCaptcha").value;
    //    var sessionValue = document.getElementById("hiddenSession").value;

    //    if (valueInput == sessionValue)
    //    {
    //        document.getElementById("submitButton1").disabled = false;
    //    }
    //    else {
    //        alert("Code didn't match.");
    //        document.getElementById("submitButton1").disabled = true;
    //    }
    //}
</script>

<style>
    .marginontop {

        margin-top:20px;
    }

</style>

