﻿<form action="@Url.Action("FeedbackForm","Contact")" method="post" id="feedbackForm" enctype="multipart/form-data">
   
    <!--OUR STORE-->
    <table border="0" cellspacing="0" cellpadding="0" class="table_para table">

        @*<tr>
                <td></td>
                <td ><p align="center">&nbsp;</p></td>
                <td ><p align="center">&nbsp;</p></td>
                <td ><p align="center">&nbsp;</p></td>
                <td ><p align="center">&nbsp;</p></td>
                <td ><p align="center">&nbsp;</p></td>
            </tr>*@
		 <tr><td colspan="6"><span style='color:red;display:none'>Please note, The Coffee Club Support Office will be closed from Friday 23rd December 2016  and will reopen on Thursday 12th January 2017, at which time we will attend to your enquiry or feedback as soon as possible. For any extremely urgent matters, please call Andy Lucas on 027 333 3920.
	<span></td></tr>
        <tr><td colspan="6">Please note, unless stated otherwise, your feedback will be passed on to the relevant store.</td></tr>
        <tr>
            <td colspan="6">
                <p align="left">
                    Name <span style="color:red">*</span>   <input name="name2" class="form-control" type="text" id="name2" value="" />

                </p>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <p align="left">
                    Phone <span style="color:red">*</span> <input name="phone2" class="form-control" type="text" id="phone2" value="" />

                </p>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <p align="left">
                    Email <span style="color:red">*</span>  <input name="email2" type="text" class="form-control" id="email2" value="" /><span id="validEmail"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td><p>When was your visit? <span style="color:red">*</span><br /> </p></td>
            <td><p align="center">&nbsp;</p></td>
            <td colspan="2"><p align="center"><input class="form-control" name="date" type="date" id="date" style="cursor:pointer; text-align:center;" /></td>
            <td colspan="2">
                <p align="right">
                    <select name="time" id="visitedTime">
                        <option value="" selected="selected">Select Time</option>
                        <option value="6.00am">6.00am</option>
                        <option value="7.00am">7.00am</option>
                        <option value="8.00am">8.00am</option>
                        <option value="9.00am">9.00am</option>
                        <option value="10.00am">10.00am</option>
                        <option value="11.00am">11.00am</option>
                        <option value="12.00pm">12.00pm</option>
                        <option value="1.00pm">1.00pm</option>
                        <option value="2.00pm">2.00pm</option>
                        <option value="3.00pm">3.00pm</option>
                        <option value="4.00pm">4.00pm</option>
                        <option value="5.00pm">5.00pm</option>
                        <option value="6.00pm">6.00pm</option>
                        <option value="7.00pm">7.00pm</option>
                        <option value="8.00pm">8.00pm</option>
                        <option value="9.00pm">9.00pm</option>
                        <option value="10.00pm">10.00pm</option>
                        <option value="11.00pm">11.00pm</option>
                    </select>
                </p>
            </td>
        </tr>
        <tr>
            <td><p>Which store did you visit? <span style="color:red">*</span><br /></p></td>
            <td><p align="center">&nbsp;</p></td>
            <td colspan="4">
                <p align="right">
                    <select name="store" id="storeSelect">
                         @{Html.RenderPartial("StoreList");}
                    </select>
                </p>
            </td>
        </tr>
        
		 <tr>
            <td colspan="6">
                <p align="left">
                    Attach Files 
                    
                    <input name="files" type="file" multiple class="form-control" id="files" />
                </p>
            </td>
        </tr>
        @*<tr>
            <td><p>&nbsp;</p></td>
            <td><p align="center">Daily</p></td>
            <td><p align="center">Weekly</p></td>
            <td><p align="center">Monthly</p></td>
            <td><p align="center">Less</p></td>
            <td><p align="center">First Visit</p></td>
        </tr>
        <tr style="">
            <td><p>How often do you visit The Coffee Club?</p></td>
            <td><p align="center"><input type="radio" name="how_often" id="how_often" value="daily" /></p></td>
            <td><p align="center"><input type="radio" name="how_often" id="how_often" value="weekly" /></p></td>
            <td><p align="center"><input type="radio" name="how_often" id="how_often" value="monthly" /></p></td>
            <td><p align="center"><input type="radio" name="how_often" id="how_often" value="less" /></p></td>
            <td><p align="center"><input type="radio" name="how_often" id="how_often" value="first visit" /></p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Excellent</p></td>
            <td><p align="center">Great</p></td>
            <td><p align="center">Good</p></td>
            <td><p align="center">Poor</p></td>
        </tr>
        <tr>
            <td><p>How would you rate the ambience of the store?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="ambience" id="ambience" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="ambience" id="ambience" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="ambience" id="ambience" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="ambience" id="ambience" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>How would you rate the cleanliness of the store?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="cleanliness" id="cleanliness" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="cleanliness" id="cleanliness" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="cleanliness" id="cleanliness" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="cleanliness" id="cleanliness" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Did you find the atmosphere of the store relaxed and comfortable? </p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="atmosphere" id="atmosphere" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="atmosphere" id="atmosphere" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="atmosphere" id="atmosphere" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="atmosphere" id="atmosphere" value="poor" /></p></td>
        </tr>*@

    </table>

    <table border="0" cellspacing="0" cellpadding="0" class="table">
        <tr>
            <td colspan="6">
                <p>Comments:<textarea class="form-control" name="experience_comments" id="experience_comments" style="min-height:150px"></textarea></p>
            </td>
        </tr>
    </table>

    <!--GOOD FOOD-->
    @*<table border="0" cellspacing="0" cellpadding="0" class="table">

        <tr>
            <td><h3>GOOD FOOD</h3></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>How would you rate your meal?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Excellent</p></td>
            <td><p align="center">Great</p></td>
            <td><p align="center">Good</p></td>
            <td><p align="center">Poor</p></td>
        </tr>
        <tr>
            <td><p>Presentation</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="presentation" id="presentation" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="presentation" id="presentation" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="presentation" id="presentation" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="presentation" id="presentation" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Flavour</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="flavour" id="flavour" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="flavour" id="flavour" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="flavour" id="flavour" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="flavour" id="flavour" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Menu Selection</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="menu" id="menu" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="menu" id="menu" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="menu" id="menu" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="menu" id="menu" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Value for Money</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="value" id="value" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="value" id="value" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="value" id="value" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="value" id="value" value="poor" /></p></td>
        </tr>
        <tr>
            <td colspan="6">
                <p>Comments: <textarea class="form-control" name="food_comments" id="food_comments"></textarea></p>
            </td>
        </tr>

    </table>*@



    <!--GOOD SERVICE-->
    @*<table border="0" cellspacing="0" cellpadding="0" class="table">

        <tr>
            <td><h3>GREAT SERVICE</h3></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Excellent</p></td>
            <td><p align="center">Great</p></td>
            <td><p align="center">Good</p></td>
            <td><p align="center">Poor</p></td>
        </tr>
        <tr>
            <td><p>How would you rate our team member in terms of being attentive but not obtrusive?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="team_member_attention" id="team_member_attention" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_attention" id="team_member_attention" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_attention" id="team_member_attention" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_attention" id="team_member_attention" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>How would you rate our team members presentation?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="team_member_presentation" id="team_member_presentation" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_presentation" id="team_member_presentation" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_presentation" id="team_member_presentation" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_presentation" id="team_member_presentation" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>How would you rate our team members in terms of being welcoming and accommodating to your needs?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="team_member_your_needs" id="team_member_your_needs" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_your_needs" id="team_member_your_needs" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_your_needs" id="team_member_your_needs" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_your_needs" id="team_member_your_needs" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>How would you rate our team members in terms of meeting and/or exceeding your service expectations?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="team_member_service" id="team_member_service" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_service" id="team_member_service" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_service" id="team_member_service" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="team_member_service" id="team_member_service" value="poor" /></p></td>
        </tr>

    </table>*@



    <!--EXCELLENT COFFEE-->
    @*<table border="0" cellspacing="0" cellpadding="0" class="table">

        <tr>
            <td><h3>EXCELLENT COFFEE</h3></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>How would you rate our coffee?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Excellent</p></td>
            <td><p align="center">Great</p></td>
            <td><p align="center">Good</p></td>
            <td><p align="center">Poor</p></td>
        </tr>
        <tr>
            <td><p>Flavour</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="coffee_flavour" id="coffee_flavour" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_flavour" id="coffee_flavour" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_flavour" id="coffee_flavour" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_flavour" id="coffee_flavour" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Strength</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="coffee_strength" id="coffee_strength" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_strength" id="coffee_strength" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_strength" id="coffee_strength" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_strength" id="coffee_strength" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Temperature</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="coffee_temperature" id="coffee_temperature" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_temperature" id="coffee_temperature" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_temperature" id="coffee_temperature" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_temperature" id="coffee_temperature" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>Presentation</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="coffee_presentation" id="coffee_presentation" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_presentation" id="coffee_presentation" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_presentation" id="coffee_presentation" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="coffee_presentation" id="coffee_presentation" value="poor" /></p></td>
        </tr>

    </table>*@



    <!--OVERALL EXPERIENCE-->
    @*<table border="0" cellspacing="0" cellpadding="0" class="table">

        <tr>
            <td><h3>OVERALL EXPERIENCE</h3></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Excellent</p></td>
            <td><p align="center">Great</p></td>
            <td><p align="center">Good</p></td>
            <td><p align="center">Poor</p></td>
        </tr>
        <tr>
            <td><p>How would you rate the overall experience at The Coffee Club?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="overall_experience" id="overall_experience" value="excellent" /></p></td>
            <td><p align="center"><input type="radio" name="overall_experience" id="overall_experience" value="great" /></p></td>
            <td><p align="center"><input type="radio" name="overall_experience" id="overall_experience" value="good" /></p></td>
            <td><p align="center"><input type="radio" name="overall_experience" id="overall_experience" value="poor" /></p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">Yes</p></td>
            <td><p align="center">No</p></td>
            <td>&nbsp;</p></td>
            <td>&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>From your dining experience would you return to this store?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center"><input type="radio" name="return_to_store" id="return_to_store" value="yes" /></p></td>
            <td><p align="center"><input type="radio" name="return_to_store" id="return_to_store" value="no" /></p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td><p>Do you have any comments or suggestions on how The Coffee Club can improve service or any aspect of your experience?</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
            <td><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td colspan="6">
                <p>Comments:<textarea class="form-control" name="experience_comments" id="experience_comments"></textarea></p>
            </td>
        </tr>
    </table>*@

    <div class="row marginontop">
        <div class="col-md-5 columns">
            <img id="m_imgCaptcha2" src="" style="width: 70%; height: 50px;" /> <span style="position:relative; top:-20px; "><a onclick="loadCaptcha2()">Next Image</a></span> <br />
            <input type="text" id="tbCaptcha2" name="tbCaptcha2" class="form-control" placeholder="Enter 4 digit code from above" style="" /><br />
            @*<input id="m_btValidate2" type="button" value="Validate" onclick="btValidate2()" />*@
        </div>
    </div>

    <hr />

    <p><input class="btn btn-primary" type="submit" name="feedbackFormButton" id="feedbackFormButton" value=" submit" /></p>

</form>

<script>
    //document.getElementById("feedbackFormButton").disabled = true;
    $(document).ready(function () {
        loadCaptcha2();

    });
    function loadCaptcha2() {
        $.ajax({
            type: 'GET',
            url: '/umbraco/surface/Contact/generateCaptcha2',
            dataType: "json",
            cache: false,
            success: function (data) { $("#m_imgCaptcha2").attr('src', '/CaptchaImages/' + data.ImgUrl); },
            error: function (data) { alert("Error while loading captcha image") }
        });
    }
    //function btValidate2() {
    //    var valueInput = document.getElementById("m_tbCaptcha2").value;
    //    var sessionValue = document.getElementById("hiddenSession2").value;

    //    if (valueInput == sessionValue) {
    //        document.getElementById("feedbackFormButton").disabled = false;
    //    }
    //    else {
    //        alert("Code didn't match.");
    //        document.getElementById("feedbackFormButton").disabled = true;
    //    }
    //}
</script>

<style>
    .table tr td {
        border-top: none !important;
    }

    #validEmail {
        margin-top: 4px;
        margin-left: 9px;
        position: absolute;
        width: 16px;
        height: 16px;
    }
</style>