﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

@if (home.Children.Any())
{
    @* Get the first page in the children *@
    var naviLevel = home.Children.First().Level;


    @* Add in level for a CSS hook *@
    <ul class="level-@naviLevel mainNavBar">
        @* For each child page under the home node *@

        <li><a style="height: 37px;" href="/">THE COFFEE CLUB</a></li>

        @foreach (var childPage in home.Children)
        {
            if (childPage.Children.Any())
            {

                <li class="has-child @(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
                    @if (childPage.name == "ABOUT US")
                    {
                        <span style="height: 37px;" href="@childPage.Url">@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">
                            @foreach (var storePage in childPage.Children)
                            {
                               <li class="aboutLink"><a href="@storePage.Url">@storePage.Name</a></li>                                
                            }
                        </ul>
                    }
                    else if (childPage.name == "OUR MENU")
                    {
                        <span style="height: 37px;">@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">
                            @foreach (var storePage in childPage.Children)
                            {
                                @*<label class="menuType" style="">@storePage.Name</label>*@
                             
                                foreach (var store in storePage.Children)
                                {
									@*NEW SCRIPT - ADDED BY JAN SOBIDA 07-24-2019*@
									@*BEGIN*@
									if (@store.Name != "VEGAN MENU")
									{
										<li><a href="@store.Url">@store.Name</a></li>
									}
									@*END*@
									
									
									@*OLD SCRIPT - REMOVED BY JAN SOBIDA 07-24-2019*@
									@*BEGIN*@
									@*<li><a href="@store.Url" target="_blank">@store.Name</a></li>*@
									@*END*@
                                }
                            }
                        </ul>
                    }
                    else if (childPage.name == "STORE LOCATOR")
                    {
                        <a href="@childPage.Url" style="height: 37px;">@childPage.Name</a>

                    }
                    else if (childPage.name == "VIP CLUB")
                    {
                        <span style="height: 37px;" href="@childPage.Url">@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">
                            <li class="aboutLink"><a href="https://www.thevipclub.co.nz" target="_blank">JOIN OUR VIP CLUB</a> </li>
                            @foreach (var storePage in childPage.Children)
                            {
                                <li class="aboutLink"><a href="@storePage.Url">@storePage.Name</a></li>
                            }
                            
                        </ul>
                    }
                    else if (childPage.name == "PROMOTIONS & SPONSORSHIP")
                    {
                        <span style="height: 37px;" href="@childPage.Url">@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">
                            @foreach (var storePage in childPage.Children)
                            {
                                <li class="aboutLink"><a href="@storePage.Url">@storePage.Name</a></li>
                            }
                        </ul>
                    }
                    
                    

               </li>
            }
            else
            {
                if (childPage.name == "FRANCHISE OPPORTUNITIES")
                {
                    <li><a href="//franchise.thecoffeeclub.co.nz/" target="_blank">FRANCHISE OPPORTUNITIES</a></li>

                }
		        else if (childPage.name == "FEEDBACK")
                {
                       //Hide
                }
				else if (childPage.name == "CONTACT US")
                {
                    <li class="has-child">
                        <span style="height: 37px;">@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">
                            <li class="aboutLink"><a href="@childPage.Url">ENQUIRIES</a></li>
                            <li class="aboutLink"><a href="/feedback" >FEEDBACK</a></li>                           
                        </ul>
                    </li>
                }
				else if (childPage.name == "GIFT CARDS")
                {                    
                   <li class="has-child">
                        <span style="height: 37px;" >@childPage.Name</span>
                        <ul class="sublevel level-@(naviLevel) menuLevel">                           
                              <li class="aboutLink"><a href="@childPage.Url">ABOUT TCC GIFT CARDS</a></li> 
                              <li class="aboutLink"><a href="https://shop.thecoffeeclub.co.nz/shop/coffee-club-gift-card/" target="_blank">ORDER TCC GIFT CARDS</a></li>                               
                              <li class="aboutLink"><a href="https://transactortech.co.nz/CoffeeClub/#/" target="_blank">CHECK YOUR BALANCE</a></li>                            
                        </ul>
                   </li>
				   <li>
                       <a style="height: 37px;color:red" href="https://tccland.wixsite.com/tcclvl3">ORDER NOW</a>
                   </li>  				   
                }
				@*else if (childPage.name == "CHRISTMAS HOURS")
                {                    
                   <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
                        <a style="height: 37px;color:red" href="@childPage.Url">@childPage.Name</a>
                    </li>   

					<li>
                        <a style="height: 37px;color:red" href="https://tccland.wixsite.com/tcclvl3">ORDER NOW</a>
                    </li>   
                }*@
				 
				else if (childPage.name == "EASTER HOURS")
                {                    
                   <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
                        <a style="height: 37px;color:red; display:none" href="@childPage.Url">@childPage.Name</a>
                    </li>   
                }
                else
                {
       
					<li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
                        <a style="height: 37px;" href="@childPage.Url">@childPage.Name</a>
                    </li>
                }
            }
        }
	    <li><a href="#" class="subscribepopup">NEWSLETTER SIGN UP</a></li>
        </ul> 
}

@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        @* Get the first page in pages and get the level *@
        var naviLevel = pages.First().Level;

        @* Add in level for a CSS hook *@
        <ul class="sublevel level-@(naviLevel)">
            @foreach (var page in pages)
            {

                <li>                  

                    @if (@page.Children.Count() > 0)
                    {
                        <span>@page.Name</span>
                        foreach (var subpage in page.Children)
                        {
                        <li><a href="@subpage.Url">@subpage.Name</a></li>
                        }
                    }				 
                    else
                    {
                        <a href="@page.Url">@page.Name</a>
                    }
                    

                    </li>
            }
        </ul>
    }
}