﻿<option value="Select..." selected="selected">Select...</option>
<option value="Auckland: Avondale">Auckland: Avondale</option>
<option value="Auckland: Bombay Service Centre">Auckland: Bombay Service Centre</option>
<option value="Auckland: Botany Junction">Auckland: Botany Junction</option>
<option value="Auckland: Botany Town Centre">Auckland: Botany Town Centre</option>
<option value="Auckland: Browns Bay">Auckland: Browns Bay</option>
<option value="Auckland: Customs Street - Auckland CBD">Auckland: Customs Street - Auckland CBD</option>
<option value="Auckland: Dress Smart - Onehunga">Auckland: Dress Smart - Onehunga</option>
<option value="Auckland: Eastridge Mall - Orakei">Auckland: Eastridge Mall - Orakei</option>
<option value="Auckland: Glenfield Mall">Auckland: Glenfield Mall</option>
<option value="Auckland: Great South Road - Greenlane">Auckland: Great South Road - Greenlane</option>
<option value="Auckland: High Street - Auckland CBD">Auckland: High Street - Auckland CBD</option>
<option value="Auckland: Highland Park">Auckland: Highland Park</option>
<option value="Auckland: Hobson Centre">Auckland: Hobson Centre - Hobsonville</option>
<option value="Auckland: Lynn Mall - New Lynn">Auckland: Lynn Mall - New Lynn</option>
<option value="Auckland: Lincoln Road - Henderson">Auckland: Lincoln Road - Henderson</option>
<option value="Auckland: Lunn Avenue - Mt. Wellington">Auckland: Lunn Avenue - Mt. Wellington</option>
<option value="Auckland: Main Highway Ellerslie">Auckland: Main Highway Ellerslie</option>
<option value="Auckland: Manukau Supa Centa">Auckland: Manukau Supa Centa</option>
<option value="Auckland: Westfield Manukau">Auckland: Westfield Manukau</option>
<option value="Auckland: Meadowlands - Howick">Auckland: Meadowlands - Howick</option>
<option value="Auckland: Milford Mall">Auckland: Milford Mall</option>
<option value="Auckland: Mission Bay">Auckland: Mission Bay</option>
<option value="Auckland: NorthWest Shopping Centre">Auckland: NorthWest Shopping Centre</option>
<option value="Auckland: Orewa">Auckland: Orewa</option>
<option value="Auckland: Ormiston Town Centre">Auckland: Ormiston Town Centre</option>
<option value="Auckland: Pukekohe">Auckland: Pukekohe</option>
<option value="Auckland: Silverdale">Auckland: Silverdale</option>
<option value="Auckland: Sylvia Park Lifestyle Centre">Auckland: Sylvia Park Lifestyle Centre (Next to Freedom)</option>
<option value="Auckland: Stoddard Road - Mt. Roskill">Auckland: Stoddard Road - Mt. Roskill</option>
<option value="Auckland: Sylvia Park - Mt. Wellington">Auckland: Sylvia Park (Next to Hoyts Cinemas) - Mt. Wellington</option>
<option value="Auckland: Takanini Village">Auckland: Takanini Village</option>
<option value="Auckland: The Grange, Warkworth ">Auckland: The Grange, Warkworth </option>
<option value="Auckland: Victoria Street West - Auckland CBD">Auckland: Victoria Street West - Auckland CBD</option>
<option value="Auckland: Wairau Junction - Wairau Valley">Auckland: Wairau Junction - Wairau Valley</option>
<option value="Auckland: Westfield Albany">Auckland: Westfield Albany</option>
<option value="Auckland: Westfield Newmarket">Auckland: Westfield Newmarket</option>
<option value="Auckland: Westfield St. Lukes">Auckland: Westfield St. Lukes</option>
<option value="Auckland: WestCity Waitakere">Auckland: Westfield WestCity</option>
<option value="Auckland: Wyndham Street - Auckland CBD">Auckland: Wyndham Street - Auckland CBD</option>
<option value="Cambridge: Lakewood, Cambridge">Cambridge: Lakewood, Cambridge</option>
<option value="Christchurch: Christchurch International Airport">Christchurch: Christchurch International Airport</option>
<option value="Christchurch: The Hub, Hornby">Christchurch: The Hub, Hornby</option>
<option value="Christchurch: Spitfire Square">Christchurch: Spitfire Square</option>
<option value="Chrsitchurch: Westfield Riccarton">Christchurch: Westfield Riccarton</option>
<option value="Chrsitchurch: Northlands">Christchurch: Northlands</option>
<option value="Chrsitchurch: Dress Smart, Hornby">Christchurch: Dress Smart, Hornby</option>
<option value="Dunedin: Meridian Mall">Dunedin: Meridian Mall</option>
<option value="Hamilton: The Base - Te Rapa">Hamilton: The Base - Te Rapa</option>
<option value="Hamilton: Te Rapa Service Centre, Horotiu">Hamilton: Te Rapa Service Centre, Horotiu</option>
<option value="Hamilton: Chartwell Shopping Centre">Hamilton: Chartwell Shopping Centre</option>
<option value="Hastings: Omahu Road">Hastings: Omahu Road</option>
<option value="Palmerston North: The Square">Palmerston North: The Square</option>
<option value="Queenstown: Remarkables Park Town Centre">Queenstown: Remarkables Park Town Centre</option>
<option value="Queenstown: Queenstown Central">Queenstown: Queenstown Central</option>
<option value="Rotorua: Redwood Shopping Centre">Rotorua: Redwood Shopping Centre</option>
<option value="Taupo: Taupo">Taupo: Taupo</option>
<option value="Tauranga: Bayfair Mall">Tauranga: Bayfair Mall</option>
<option value="Tauranga: Bethlehem Town Centre">Tauranga: Bethlehem Town Centre</option>
<option value="Tauranga: Marine Parade Mt. Maunganui">Tauranga: Marine Parade Mt. Maunganui</option>
<option value="Tauranga: The Crossing, Tauriko">Tauranga: The Crossing, Tauriko</option>
<option value="Wellington: North City - Porirua">Wellington: North City - Porirua</option>
<option value="Wellington: Queensgate Shopping Centre – Lower Hutt">Wellington: Queensgate Shopping Centre – Lower Hutt</option>