﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<form method="POST" data-is-embed="" data-account-id="49147" data-webform-id="147654" class="em_wfe_form" id="em_subscribe_form" name="em_subscribe_form" onsubmit="return checkForm(this);" action="//e.gji.com.au/em/forms/subscribe.php?db=438063&amp;s=147654&amp;a=49147&amp;k=1e53cf1&amp;wt=1" enctype="multipart/form-data">
    <input type="hidden" name="webform_submit_catch" value="em_subscribe_form" />
    <input type="hidden" name="sf_catch" value="em_subscribe_form" />
    <div class="webform_step">
        <div class="closeform">CLOSE</div>
        <h5 class="subscribetext">Sign up to <i>The Coffee Club's</i> newsletter & receive regular updates on in-store promotions & other exciting news plus exclusive offers!</h5>

        <div style="margin:0px;" class="fieldwrap clearfix">
            <div rel="5" class="wfe_component" id="1064521">
                <div class="col-md-3">
                    <label for="em_wfs_formfield_3471650" style="color:#000000;">First Name<span style="color:#990000;">*</span><span style="display:none;"> (required)</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" value="" id="em_wfs_formfield_3471650" name="em_wfs_formfield_3471650" mandatory="false" validation="" sf_title="First Name" ftype="1" maxlength=255 size=30 style="background-color:#FFFFFF;margin:0px;" />
                </div>
            </div>
        </div>
        <div style="margin:0px;" class="fieldwrap clearfix">
            <div rel="5" class="wfe_component" id="1064522">
                <div class="col-md-3">
                    <label for="em_wfs_formfield_3471651" style="color:#000000;">Last Name<span style="color:#990000;">*</span><span style="display:none;"> (required)</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" value="" id="em_wfs_formfield_3471651" name="em_wfs_formfield_3471651" mandatory="false" validation="" sf_title="Last Name" ftype="1" maxlength=255 size=30 style="background-color:#FFFFFF;margin:0px;" />
                </div>
            </div>
        </div>
        <div style="margin:0px;" class="fieldwrap clearfix">
            <div rel="5" class="wfe_component" id="1064523">
                <div class="col-md-3">
                    <label for="em_wfs_formfield_3471652" style="color:#000000;">Email<span style="color:#990000;">*</span><span style="display:none;"> (required)</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" value="" id="em_wfs_formfield_3471652" name="em_wfs_formfield_3471652" mandatory="false"  sf_title="Email" ftype="1" maxlength=255 size=30 style="background-color:#FFFFFF;margin:0px;width:90%;" />
                </div>
            </div>
        </div>
        <div style="margin:0px;" class="fieldwrap clearfix">
            <div rel="5" class="wfe_component" id="1064579">
                <div class="col-md-3">
                    <label for="em_wfs_formfield_3471682_fieldset" style="color:#000000;">Date of Birth<span style="color:#990000;">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="hidden" mandatory="false" sf_title="Date of Birth" webform_date="1" validation="0" id="em_wfs_formfield_3471682" name="em_wfs_formfield_3471682" />
                    <fieldset id="em_wfs_formfield_3986577_fieldset" style="border:0; margin:0; padding:0">
                        <div>
                            <select title="day" class="sf_dropdown_calendar_day" style="background-color:#FFFFFF;margin:0px;" id="em_wfs_formfield_3471682_day" name="em_wfs_formfield_3471682_day" rel="3471682">
                                <option value="-1">--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select title="month" class="sf_dropdown_calendar_month" style="background-color:#FFFFFF;margin:0px;" id="em_wfs_formfield_3471682_month" name="em_wfs_formfield_3471682_month" rel="3471682">
                                <option value="-1">--</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <select title="year" class="sf_dropdown_calendar_year" style="background-color:#FFFFFF;margin:0px;" id="em_wfs_formfield_3471682_year" name="em_wfs_formfield_3471682_year" rel="3471682">
                                <option value="-1">----</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                                <option value="1975">1975</option>
                                <option value="1974">1974</option>
                                <option value="1973">1973</option>
                                <option value="1972">1972</option>
                                <option value="1971">1971</option>
                                <option value="1970">1970</option>
                                <option value="1969">1969</option>
                                <option value="1968">1968</option>
                                <option value="1967">1967</option>
                                <option value="1966">1966</option>
                                <option value="1965">1965</option>
                                <option value="1964">1964</option>
                                <option value="1963">1963</option>
                                <option value="1962">1962</option>
                                <option value="1961">1961</option>
                                <option value="1960">1960</option>
                                <option value="1959">1959</option>
                                <option value="1958">1958</option>
                                <option value="1957">1957</option>
                                <option value="1956">1956</option>
                                <option value="1955">1955</option>
                                <option value="1954">1954</option>
                                <option value="1953">1953</option>
                                <option value="1952">1952</option>
                                <option value="1951">1951</option>
                                <option value="1950">1950</option>
                                <option value="1949">1949</option>
                                <option value="1948">1948</option>
                                <option value="1947">1947</option>
                                <option value="1946">1946</option>
                                <option value="1945">1945</option>
                                <option value="1944">1944</option>
                                <option value="1943">1943</option>
                                <option value="1942">1942</option>
                                <option value="1941">1941</option>
                                <option value="1940">1940</option>
                                <option value="1939">1939</option>
                                <option value="1938">1938</option>
                                <option value="1937">1937</option>
                                <option value="1936">1936</option>
                                <option value="1935">1935</option>
                                <option value="1934">1934</option>
                                <option value="1933">1933</option>
                                <option value="1932">1932</option>
                                <option value="1931">1931</option>
                                <option value="1930">1930</option>
                                <option value="1929">1929</option>
                                <option value="1928">1928</option>
                                <option value="1927">1927</option>
                                <option value="1926">1926</option>
                                <option value="1925">1925</option>
                                <option value="1924">1924</option>
                                <option value="1923">1923</option>
                                <option value="1922">1922</option>
                                <option value="1921">1921</option>
                                <option value="1920">1920</option>
                                <option value="1919">1919</option>
                                <option value="1918">1918</option>
                                <option value="1917">1917</option>
                                <option value="1916">1916</option>
                                <option value="1915">1915</option>
                                <option value="1914">1914</option>
                                <option value="1913">1913</option>
                                <option value="1912">1912</option>
                                <option value="1911">1911</option>
                                <option value="1910">1910</option>
                                <option value="1909">1909</option>
                                <option value="1908">1908</option>
                                <option value="1907">1907</option>
                                <option value="1906">1906</option>
                                <option value="1905">1905</option>
                                <option value="1904">1904</option>
                                <option value="1903">1903</option>
                                <option value="1902">1902</option>
                                <option value="1901">1901</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div style="margin:0px;" class="fieldwrap clearfix">
            <div rel="5" class="wfe_component" id="1064580">
                <div class="col-md-3">
                    <label for="em_wfs_formfield_3471694" style="color:#000000;">Please select the strore you visit the most<span style="color:#990000;">*</span><span style="display:none;"> (required)</span></label>
                </div>
                <div class="col-md-9">
                    <select id="em_wfs_formfield_3471694" name="em_wfs_formfield_3471694" mandatory="false" sf_title="Please select the strore you visit the most" ftype="5" style="background-color:#FFFFFF;margin:0px;width:90%;">
                        @{Html.RenderPartial("StoreList");}
                    </select>
                </div>
            </div>           
        </div>
        <div>
            <div rel="3" class="wfe_component" id="1064525" class="fieldwrap clearfix">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <input class="wfe_button" id="button-subscribe-submit" type="submit" title="Submit" value="Submit" style="font-family:Arial;font-size:13px;" />
                </div>

            </div>
        </div>
        <div>
            <div rel="1" class="wfe_component" id="1064526"><div><h6>We value your privacy as much as you do. We will not give your email address out to any other parties.</h6></div></div>
        </div>
    </div>
    <!-- Do not remove, as this DIV and INPUT help fight against spam. -->
    <div s>
        <label for="webform_4bf846c" style="display:none;visibility:hidden;width:0px;height:0px;font-size:1px;">Ignore</label>
        <input type="text" id="webform_4bf846c" name="webform_4bf846c" value="" style="display:none;visibility:hidden;width:0px;height:0px;font-size:1px;" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#em_subscribe_form").submit(function (e) {
         
            var firstName = $('#em_wfs_formfield_3471650').val();
            var lastNmame = $('#em_wfs_formfield_3471651').val();
            var email = $('#em_wfs_formfield_3471652').val();
            var dayDropdown = $('#em_wfs_formfield_3471682_day :selected').text();
            var monthDropdown = $('#em_wfs_formfield_3471682_month :selected').text();
            var yearDropdown = $('#em_wfs_formfield_3471682_year :selected').text();
            var storeDropdown = $('#em_wfs_formfield_3471694 :selected').text();

            if (dayDropdown == '--' || monthDropdown == '--' || yearDropdown == '----' || storeDropdown == 'Select...' || !firstName.match(/\S/) || !lastNmame.match(/\S/) || !email.match(/\S/)) {
                alert("Some mandatory fields are missing.");
                $('#button-subscribe-submit').removeAttr("disabled");
                e.preventDefault();
                return false;
            }
           
            if (!isValidEmailAddress(email)) {
                alert("Invalid email format");
                $('#button-subscribe-submit').removeAttr("disabled");
                e.preventDefault();
                return false;
            }                      
           
        });

        function isValidEmailAddress(email) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(email);
        }

    });
</script>