/**TEST**/
nav > ul li a, nav > ul li span, footer.dark a{
	font-weight: 700;
}
a.btnBottom {
    font-weight: 600;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
  font-size: 2rem;
}

h2 {
 font-size: 19px; 
}

h3 {
  font-size: 1.3rem;
}

Pragraph {
font-size:15px;
}

