
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
  font-size: 2rem;   letter-spacing: -.2px; font-family: "Titillium Web", sans-serif;
}

h2 {
  font-size: 19px; font-family: "Titillium Web", sans-serif;
}

h3 {
  font-size: 1.3rem; font-family: "Titillium Web", sans-serif;
}

h5 {
  font-size: 2rem;   font-weight: 100; font-family: "Titillium Web", sans-serif;
}

p {
  font-size: 15px;   font-weight: 500; font-family: "Titillium Web", sans-serif;
}

blockquote {
font-style: italic; font-family: "Titillium Web", sans-serif;
}

