﻿ <div ng-controller="GMaps.GoogleMapsController" class="umb-editor umb-googlemaps">
         <div class="" style="height: 400px;" id="{{model.alias}}_map"></div>
    
</div>


<!--<script>
  

    $(document).ready(function () {

        alert("hidsdsd");

        $('#addressLine3').keypress(function (e) {
            alert("hidsdsd");

        });

    });
</script>-->